<div class="well droppable">
  <input type="hidden" name="<%= k %>" value="<%= v %>" class="field-input">
  <b><%= CollectionField.find_by_name( k ).display_name %></b>
  <div class="drop-data"><%= JSON.parse( v ).join ',' unless v.to_s == '' %></div>
</div>
