<% provide :title, 'Configure Collection' %><div class="container-fluid container-show-item"> 
  <div class="row">
    <div class="col-sm-4 col-md-2 col-lg-2 col-info">
      <h2 class="h3 page-header">Collection</h2>

      <%= render partial: 'collections/thumbnail', object: @collection %>

    </div>

    <div class="col-sm-8 col-md-10 col-lg-10">
      <h2 class="h3 page-header">Configure Collection<small><a href="javascript:void(0);">Click for instructions</a></small></h2>
    
      <div class="row">
        <div class="col-sm-6 hidden-xs">
          <h2 class="h4 page-header">Sample Record</h2>

          <div class="work-original">
            <%= render partial: 'works/original', object: @collection.works.first %>
          </div>
        </div>

        <div class="col-sm-6 col-active-fields hidden-xs">
          <h2 class="h4 page-header">Active Fields</h2>

          <div class="well droppable">
            <b>Unique Identifier</b>
            <div class="drop-data"></div>
          </div>

          <div class="well droppable">
            <b>Title</b>
            <div class="drop-data"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

