<!-- BEGIN SUB MENU -->	
<div class="SUB_MENU">
  <div class="expandable"><%= link_to 'Click for navigation instructions', '/help', target:"_blank" %></div>
</div>
<!-- END SUB MENU -->	

<!-- BEGIN GALLERY -->	     
<div class="GALLERY">
  <% @collections.each do |collection| %>
    <%= render :partial=>'shared/print_item', :locals=>{:item=>collection} %>
  <% end %>

  <%= render partial: 'shared/newnail', object: Collection if authenticated? %>
</div>
<!-- END GALLERY -->  
