<% provide :title, 'Collections' %>
<div class="container">

  <div class="row">
    <p><%= link_to 'Click for navigation instructions', '/help', target:"_blank" %></p>
  </div>

  <h2>Collections</h2> 

  <%= render partial: 'shared/gallery', object: @collections, locals: { newnail: Collection } %>
</div>

