
<div class="Inst_list" id="Inst_list">
<table class="institem" cellspacing="0" cellpadding="0"><tr><td><ol>
<li> Main Menu: Contains links to sign in, browse and explore collections, and view spotlights.</li>
<li> Blurb: Important information about Curarium.</li>
<li> Main Gallery: shows a random selection of material within Curarium.</li>
</ol></td></tr></table>

<div class="Inst_list" id="Inst_list">COLLECTIONS INDEX
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> Sub Menu: displays active collection and sorting/filtering options</li>
<li> Collections Gallery: displays all collections within curarium.</li>
<li> Takes you to the Collection about page.</li>
<li> Takes you to the Collection explore page.</li>
<li> Creates a new Collection</li>
</ol></td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">COLLECTION ABOUT PAGE
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> Collection title</li>
<li> Collection description</li>
<li> Recently viewed objects from the collection</li>
<li> Collection news feed</li>
<li> Collection links, including:</li>
<li> Explore the collection</li>
</ol><td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
COLLECTION ABOUT PAGE
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> Zoomed in Object Map (mousewheel)</li>
<li> Zoomed out Object Map (mousewheel)</li>
<li> Pan left (hover & click)</li>
<li> Pan down (hover & click)</li>
<li> Pan right (hover & click)</li>
<li> Pan up(hover & click)</li>
</ol></td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
VISUALIZATION CONTROLS
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> Choose Visualization mode </li>
<li> Choose property to visualize </li>
<li> Update Visualization </li>
<li> Select a property to filter records by. </li>
<li> Select a specific value to include or exclude from the filtering. </li>
<li> Include or Exclude the value</li>
<li> Save the current visualization to a tray</li>
<li> Save the current visualized records to a tray</li>
</ol></td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
VISUALIZATION CONTROLS
<table class="institem" cellspacing="0" cellpadding="0">
(treemap example)
<tr><td><ol>
<li> Visualization Type: Treemap </li>
<li> Visualization Type: names</li>
<li> Filters: none</li>
</ol>
Shown here are all the names values present throughout the collection, sorted from the most common (“Jesus Christ”, 5,316 appearances) to the most rare (many names having only 1 appearance).</td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
VISUALIZATION CONTROLS
<table class="institem" cellspacing="0" cellpadding="0">
(treemap example)
<tr><td><ol>
<li> Visualization Type: Treemap</li>
<li> Visualization Type: names</li>
<li> Filters: search for term ‘Jesus Christ’ and</li>
<li> Exclude it from the query</li>
</ol>
Shown here are only names present in records that exclude the name ‘Jesus Christ’. This gives a much more distributed graduation from rarity to commonality.
</td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
VISUALIZATION CONTROLS
<table class="institem" cellspacing="0" cellpadding="0">
(treemap example)
<tr><td><ol>
<li> Visualization Type: Treemap.</li>
<li> Visualization Type: names.</li>
<li> Filters: search for term ‘god’ and</li>
<li> Include it on the query.</li>
</ol>

Shown here are only names present in records that include the name ‘god’ and exclude the name ‘Jesus Christ’.
</td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
VISUALIZATION CONTROLS
<table class="institem" cellspacing="0" cellpadding="0">
(treemap example)
<tr><td><ol>
<li> Visualization Type: Treemap.</li>
<li> Visualization Type: topics. </li>
<li> Filters: Include “god” and Exclude “Jesus Christ”</li>
</ol>
The visualization property has changed, but the same filters are still in effect. Shown here are only topics present in records that include the name ‘god’ and exclude the name ‘Jesus Christ’.
</td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
RECORD POP-UP
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> Record image</li>
<li> Record metadata (non-editable)</li>
<li> Link to object page, featuring: high resolution, zoomable and pannable image, metadata edditing and record annotation.</li>
<li> Close pop-up</li>
</ol></td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
RECORD
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> Parsed Information (information made available in Curarium)</li>
<li> Record Surrogates</li>
<li> Record id (unique identifier within Curarium)</li>
<li> Add record to tray</li>
<li> Annotate record (requires signing in)</li>
<li> Record image: zoomable and pannable</li>
<li> Frame showing a portion of the image that has been annotated.</li>
</ol></td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
RECORD METADATA
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> List of fields made available in Curarium, each can have a number of values.</li>
<li> Click to expand field and view its values.</li>
<li> Original values are shown with a red outline. Deleted original values are stroked through. Added values are shown in gray.</li>
<li> Values can be added or deleted, and existing values edited. (requires signing in)</li>
<li> Changes in the record won’t be permanent until they are saved.</li>
</ol></td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
RECORD SURROGATES
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> List of available surrogate images.</li>
<li> Clicking in a surrogate brings it up in the record display space.</li>
</ol></td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
ADD RECORD TO A TRAY
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> Clicking in a given tray ‘add’ button will add the record to it. All surrogates and annotations will be available.</li>
<li> Alternatively, type in the name of a new tray and then click add to create that tray and add the record to it.</li>
</ol></td></tr></table>
</div>

<div class="Inst_list" id="Inst_list">
RECORD ANNOTATION
<table class="institem" cellspacing="0" cellpadding="0">
<tr><td><ol>
<li> Double click the record image to start selecting a piece of the image. Click to accept.</li>
<li> A preview of the clipping is displayed here.</li>
<li> Annotation title</li>
<li> Annotation body</li>
<li> Annotation tags</li>
<li> Use the dropdown to add more tags</li>
<li> Existing annotations are displayed below.</li>
</ol></td></tr></table>
</div>