<% provide :title, 'Add Collection' %>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="h2 page-header">Collection Importer <small><a href="javascript:void(0);">Click for instructions</a></small></h1>
    
    </div>
  </div>

  <%= render 'form' %>

</div>
