<%# require 'works_helper' %>

<h1 class="collection-header">Tray Manager</h1>

<div class="GALLERY">

  <% @trays.each { |tray| %>
    <h2 class="titlebar"><%= tray.name %></h2>

    <a class="tray-preview">
      <ul>
        <% tray.images.each { |image| %>
          <li><%= image_tag image.thumbnail_url, alt: '' %></li>
        <% } %>
      </ul>
    </a>
  <% } %>

</div>
