<%# require 'works_helper' %>

<h1 class="collection-header">Tray Manager</h1>

<!-- BEGIN GALLERY -->	     
<div class="GALLERY">

  <% @trays.each { |tray| %>
    <h2 class="titlebar"><%= tray.name %></h2>

    <%= link_to render( partial: 'trays/tray_preview', object: tray ), user_tray_path( tray.owner, tray ), class: 'tray-preview' %>
  <% } %>

</div>
<!-- END GALLERY -->  
