<% require 'works_helper' %>
<ul>
  <% @trays.each { |tray| %>
    <li>
      <b><%= tray.name %></b>
      <ul>
        <% tray.works.each { |work_id| %>
          <li><%= work_title Work.find( work_id ) %></li>
        <% } %>
      </ul>
    </li>
  <% } %>
</ul>
