<%# require 'works_helper' %>

<h1 class="collection-header">Tray Manager</h1>

<% @trays.each { |tray| %>
  <div class="GALLERY">
    <h2 class="titlebar"><%= tray.name %></h2>
    <ul>
      <% tray.images.each { |image| %>
        <li class="gallery_item"><%= image_tag image.thumbnail_url %></li>
      <% } %>
    </ul>
  </div>
<% } %>
