<div class="tray-popup" data-action="<%= @popup_action %>" data-action-item-id="<%= @popup_action_item.id unless @popup_action.nil? %>">
  <h1>Your Trays</h1>

<% @trays.each { |tray| %>
  <button type="button" class="tray-popup-button" data-tray-id="<%= tray.id %>"><%= tray.name %></button>
<% } %>
</div>
