<h1 class="collection-header">Tray: <%= @tray.name %></h1>

<!-- BEGIN GALLERY -->	     
<div class="GALLERY">

  <% @tray.tray_items.each { |tray_item| %>
    <%= render partial: 'tray_items/commandnail', object: tray_item %>

  <% } %>

</div><!-- END GALLERY -->  

