<% provide :title, @tray.name %>
<div class="container container-show-item">

  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 col-info">
      <h2 class="h4 page-header"><%= @owner.class.to_s %> Tray</h2>

      <%= render partial: 'trays/thumbnail', object: @tray %>
    </div>

    <div class="col-sm-8 col-md-6 col-lg-7 col-detail">
      <h2 class="h4 page-header"><%= @tray.name %></h2>

      <%= render partial: 'shared/gallery', object: @tray.tray_items %>
    </div>

    <div class="col-sm-2 col-md-3 col-activity hidden-sm">
      <h2 class="h4 page-header">Activity</h2>
    </div>

</div>
