@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

* {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  box-sizing: border-box;
  font-family: Lato;
}

div.record_container {
  overflow: hidden;
  border: 1px solid #666;
  position: relative;
}

div#main-canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  background-image:  url("../img/animated_curarium_logo_25ms.gif");
  background-repeat: no-repeat;
  background-position: center;
}

div#record-data{
  background-image: url('../img/black_50_percent.png');
  display: block;
  width: 30%;
  height: 100%;
  position: absolute;

}

div#record-data img {
  max-height: 80px !important;
  max-width: 80px !important;
}

div#record-data nav {
  position: relative;
  height: 100px;
  padding: 10px;
}
div#record-data section {
  position: relative;
  height: 100%;
  overflow: auto;
}

div#annotations{
  padding: 1em;
  background-image: url('black_50_percent.png');
  display: block;
  right: 0;
  width: 20%;
  height: 100%;
  position: absolute;
  overflow: auto;
}

div#annotations input, div#annotations textarea {
  width: 100%;
  margin: auto;
  margin-top: 0.5em;
  font-size: 10pt;
  resize: none;
}
div#annotations input.annotation_tag{
  display: inline;
  width: 60px;
  background: #5fa5ff;
  padding: 2px;
  margin: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#annotations .edit_clipping {
  padding: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 8pt;
  background: slategray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#annotations .tag_selector {
  width: 150px;
}

div#annotations .tag_selector option {
  width: 150px;
}

.printed_object {
  list-style: none;
  color: white;
  width: 98%;
  margin: 1%;
}

#parsed_record {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em;
  position: relative;
  max-height: 80%;
  overflow: auto;
  border: 1px solid white;

}

#parsed_record input[type=submit]{
  display: inline;
  padding: 0.5px;
  font-size: 8pt;
  border: none;
  margin: 0 0 0 3px;
}

#parsed_record .parsed_field {
  font-size: 10pt;
  font-weight: bold;
}

#parsed_record .parsed_value {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1px;
  background-color: lightgray;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  display: inline-block;
  list-style: none;
  font-size: 8pt;
  color: black;
  cursor: pointer;
}

#original_record {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em;
  border: 1px solid white;
  position: relative;
  max-height: 70%;
  overflow: auto;
}



form#add_record_to_tray{
  height: 20px;
  overflow: hidden;
  position: relative;
  background: black;
  display: inline-block;
}

form#add_record_to_tray *{
  display:inline;
}

form#add_record_to_tray select {
  width: 80px;
  display: inline-block;
  font-size: 8pt;
}

form#add_record_to_tray input[name=new_tray] {
  color: black;
}

form#add_record_to_tray input[type=submit] {
  color: white;
  height: 20px;
  font-size: 8pt;
}

form#add_record_to_tray option {
  display: block;
}

#record_annotations{
  max-height: 40%;
  overflow: auto;
}

#record_annotations div.annotation_wrapper{
  background: lightgray;
  border: 1px solid black;
  padding: 0.5em;
  margin-top: 0.25em;
}

#record_annotations div.annotation_wrapper .annotation_title {
  font-size: 12pt;
}

#record_annotations div.annotation_wrapper .annotation_body {
  font-size: 10pt;
}

#record_annotations div.annotation_wrapper .annotation_attribution {
  font-size: 7pt;
}

#record_annotations div.annotation_wrapper .annotation_tag {
  font-size: 8pt;
  font-weight: bold;
  background: red;
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}    