<li class="media">
  <div class="media-left">
    <%= render partial: 'works/thumbnail', object: list_item %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= list_item.title %></h4>
    <%= render partial: 'works/metadata', object: list_item, locals: { horizontal: true } %>
  </div>
</li>
