<% depth = depth || 0 %>
<div class="row">
  <div class="col-sm-<%= 12 - depth %> col-sm-offset-<%= depth %>">
    <div class="list-group">
      <a href="#" class="list-group-item btn btn-default"><b><%= k %></b> | <%= v %></a>
    </div>
  </div>
</div>
