<% depth = depth || 0 %>
<% path = path || '' %>
<a href="#" class="list-group-item btn btn-default" draggable="true" data-path="<%= "#{path}/#{k}" %>" data-value="<%= v %>"><b><%= k %></b> | <%= v %></a>
