<% depth = depth || 0 %>
<% path = path || [] %>
<a href="#" class="list-group-item btn btn-default" draggable="true" data-path="<%= (path + [k]).to_json %>" data-value="<%= v.to_s << ( path.include?( '*' ) ? ', ...' : '' ) %>"><b><%= k %></b> | <%= v %></a>
