<p>Hi <%= welcome.name %>,</p>

<p>Thank you for signing into Curarium! We are very happy to have you as a member of our community.</p>

<p>Please note that this is a beta version of Curarium, which is undergoing final testing before its official release.</p>

<p>Curarium, its software, and all associated data and media found here are furnished on an &quot;as is&quot; and &quot;as available&quot; basis. The current public release is subject to change at any time; any data, links, annotations, and any other content or functionality saved to user accounts may be lost as new code is committed.</p>
  
<p>As a user of Curarium beta, you’re invited to join a community of testers, reviewers, and bug-catchers. We're grateful for your help as we develop towards a stable public release, currently planned for early 2015. We welcome feedback, suggestions, and the identification of flaws, glitches, and bugs.</p>

<p>To report a bug or suggestion, please:</p>

<ul>
  <li>visit the <a href="https://cyber.law.harvard.edu/projectmanagement/projects/curarium-beta-bug-tracker/issues/new">Curarium Bug Tracker</a></li>
  <li>choose a Tracker (Task or Bug)</li>
  <li>fill in the Subject and Description fields<br>(the rest of the fields can be left blank but<br>&nbsp;feel free to upload a screenshot if you think<br>&nbsp;it will help our team understand the issue)</li>
  <li>click Create to send us your feedback</li>
</ul>

Thank you again and we hope you enjoy Curarium!
