<section class="beta-popup">
  <h1>Curarium (beta 0.3.5)</h1>

  <p>Please note that this is a beta version of Curarium, which is undergoing final testing before its official release and full public deployment.</p>

  <p>Curarium, its software, and all associated data and media found here are furnished on an “as is” and “as available” basis. The current public release is subject to change at any time; any data, links, annotations, and any other content or functionality saved to user accounts may be lost as new code is committed.</p>
  
  <p>As a user of Curarium beta, you’re invited to join a community of testers, reviewers, and bug-catchers. We’re grateful for your help as we develop towards a stable public release, currently planned for early 2015. We welcome feedback, suggestions, and the identification of flaws, glitches, and bugs. Kindly report specific bugs or for feedback of a more general nature, fee free to email us at <a href="mailto:curarium@metalab.harvard.edu">curarium@metalab.harvard.edu</a>.</p>

  <button type="button" class="close">continue</button>
</section>
