<footer class="footer">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">&copy; CURARIUM 2015</span>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="http://metalab.harvard.edu/">metaLAB (at) Harvard</a></li>
          <li><a href="http://itatti.harvard.edu/">Villa I Tatti</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Terms & Privacy', terms_path, class: 'terms' %></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
