<div class="FOOTER">
	<div>
		<span>&copy; CURARIUM 2013</span>
		<a href="http://metalab.harvard.edu/">metaLAB (at) Harvard</a><span class="dot">&middot;</span><a href="http://itatti.harvard.edu/">Villa I Tatti</a>
	</div>
</div>


