<% side = side || :left %>
<% if defined?( icon_title ).nil? %><% icon_title = t( "mini_icons.#{mini_icon}" ) %><% end %>
<span class="mini-icon <%= 'mini-icon-no-title' unless icon_title.present? %>"><%= render( partial: 'shared/mini_icon_icon', object: mini_icon ) if side == :left %><% if icon_title.present? %><span class="mini-icon-title"><%= icon_title %></span><% end %><%= render( partial: 'shared/mini_icon_icon', object: mini_icon ) if side == :right %></span>
