<% verb = verb || :new %>
<div class="gallery_item">
  <div class="createnew">
    <%= link_to "#{verb.to_s} #{newnail.to_s.downcase}", "#{new_polymorphic_path newnail}", target: "_blank" %>
  </div>
</div>
