<div id="toolbar" style="display: none;">

	<a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">Title</a>
	<a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5">Subtitle</a>
	<a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">Regular</a>

	<a data-wysihtml5-command="bold">bold</a>
	<a data-wysihtml5-command="italic">italic</a>

	<!-- Some wysihtml5 commands require extra parameters -->
	<a data-wysihtml5-command="justifyLeft">align left</a>
	<a data-wysihtml5-command="justifyCenter">align center</a>
	<a data-wysihtml5-command="justifyRight">align right</a>

	<!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
	<a data-wysihtml5-command="createLink">insert link</a>
	<div data-wysihtml5-dialog="createLink" style="display: none;">
		<label> Link:
			<input data-wysihtml5-dialog-field="href" value="http://" class="text">
		</label>
		<a data-wysihtml5-dialog-action="save">OK</a><a data-wysihtml5-dialog-action="cancel">Cancel</a>
	</div>
	<!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
	<a data-wysihtml5-command="insertImage">insert image</a>
	<div data-wysihtml5-dialog="insertImage" style="display: none;">
		<label> Image:
			<input data-wysihtml5-dialog-field="src" value="http://">
		</label>
		<a data-wysihtml5-dialog-action="save">OK</a>
		<a data-wysihtml5-dialog-action="cancel">Cancel</a>
	</div>
</div>