<!doctype html>
<html>
	<head>
		<title>SpatialC</title>
		<link rel="shortcut icon" href="/static/img/favicon.ico?v=d1cff4b51035595af71275ff8d973b8b" type="image/x-icon">
		<link href="/static/css/main.css?v=a7d19d8a5c7dd797c527c664b858b025" media="screen" rel="stylesheet" type="text/css">
		<link href="/static/css/loginpanel.css?v=2fa4461044e74839cab438adfd53565f" media="screen" rel="stylesheet" type="text/css">
		<link href="/static/css/spatialc.css?v=2cab6f5a3654371d13973eeb89c119fe" media="screen" rel="stylesheet" type="text/css">
		<link href="/static/css/jquery-ui.css?v=34a9584598a26d3104df302d603eb839" media="screen" rel="stylesheet" type="text/css">
		<link href="/static/css/jquery.ui.zoomify.css?v=ab91119df313d47735f236a4caa55f48" media="screen" rel="stylesheet" type="text/css">
		<script src="/static/js/jquery.min.js?v=b8d64d0bc142b3f670cc0611b0aebcae"></script>
		<script src="/static/js/jquery-ui.min.js?v=02e1058fd3cb0799867ba932a4ad3b22"></script>
		<script src="/static/js/loginpanel.js?v=4856ea7a7fb7036858564fb1f15eb639"></script>
		<script src="/static/js/collapser.js?v=e644b69fcd3b61f71a5d259df654a9ce"></script>
		<script src="/static/js/spatialc.js?v=371c421edd3aac597f105bc3119d60d6"></script>
		<script src="/static/js/jquery.ui.zoomify.js?v=8c5d677cdf2eddcbc607cb82c56e5860"></script>
		<script src="/static/js/main.js?v=8c47bd2faca553ba066dd5c86fa3443a"></script>
	</head>
	<body>
		<div id="page">
			<div id="header">
				<div class="collection-wrapper">
					<a href="#">Homeless paintings</a>
					<a href="#">City selfies</a>
					<a href="#">Pixel block collection</a>
					<a href="#" class="createcollection">Create collection</a>
				</div>
				<div class="header-logo">
					<a href="#">CURARIUM</a>
				</div>
				<div id="debug"></div>
				<div id="header-menu">
					<ul class="h-menu">
						<li>
							Collections
						<li>
							Spotlights
						<li class="signin">
							Sign-In
					</ul>
				</div>
				<div style="clear: both"></div>
				<div class="threedots-collection"></div>
			</div>
			<div id="menu">
				<ul class="h-menu">
					<li class="active">
						About
					<li>
						News
					<li>
						Features
				</ul>
				<div class="clear"></div>
			</div>
			<div id="content">
				<div id="controls">
					<!-- <div class="ghost-button-container btn-group"> -->
					<button type="button" id="g" class="ghost-button" class="btn btn-primary">
						<strong>G</strong>host mode
					</button>
					<!-- </div> -->
					<div id="center-button-panel">
						<div class="btn-group left">
							<button type="button" id="default-view" class="btn btn-primary active">
								<strong>D</strong>efault view
							</button>
						</div>
						<div class="btn-group left">
							<button type="button" data-sort-field="date" class="btn btn-primary active">
								<strong>C</strong>hronological
							</button>
							<button type="button" data-sort-field="name" class="btn btn-primary">
								<strong>A</strong>lphabetical
							</button>
							<button type="button" data-sort-field="description" class="btn btn-primary">
								<strong>De</strong>scription
							</button>
						</div>
						<div class="btn-group left">
							<button type="button" data-sort-order="asc" class="btn btn-primary">
								<strong>A</strong>scending
							</button>
							<button type="button" data-sort-order="desc" class="btn btn-primary">
								<strong>D</strong>escending
							</button>
							<button type="button" data-sort-order="customsorting" class="btn btn-primary">
								<strong>C</strong>ustom sorting
							</button>
						</div>
						<div class="clear"></div>
					</div>
					<!-- <div class="map-icon"> -->
					<button type="button" id="map-toggle" class="btn btn-primary active">
						<strong>S</strong>cale map
					</button>
					<!-- </div> -->
				</div>
				<div id="spatialc-container"></div>
			</div>
			<!-- #content -->
		</div>
		<!-- #page -->
		<div id="footer">
			<strong>Copyright 2013-2014 © SpatialC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shift+1&nbsp;&nbsp;Close top panel&nbsp;&nbsp;&nbsp;Shift+2&nbsp;&nbsp;Open/Close panel&nbsp;&nbsp;&nbsp;Move Down&nbsp;&nbsp;&nbsp;⌘↵Mark Complete&nbsp;&nbsp;&nbsp;more...</strong>
		</div>
		<div id="minimap">
			<div class="closesign"></div>
		</div>
		<div class="loginpanel">
			<div class="wrap">
				<div class="header">
					Login
				</div>
				<form>
					<input type="text" id='username' placeholder='Username'>
					<input type="password" id='password' placeholder='Password'>
				</form>
				<button class='forgot'>
					FORGOT PASSWORD ?
				</button>
				<button class='login'>
					LOG IN
				</button>
			</div>
		</div>
	</body>
</html>
