<h1 class="collection-header">Curarium Bot</h1>

<p>Curarium Bot is Curarium's thumbnail generator. When someone adds a library collection to Curarium, this bot will attempt to download smaller, thumbnail versions of each image.</p>

<p>The User Agent string is currently: <%= Curarium::BOT_UA %></p>

<p>When crawling for thumbnails, Curarium Bot adds an extra 500ms to the download time so as to decrease the chance of causing an accidental Denial of Service attack.</p>
