<h1>New section</h1>

<script type='text/javascript'>
	window.onload = function(){
		window.section.create({
			users_field:"#section_users", 
			user_list:"#user_list",
			user_target: "#selected_users"
			});
	};
</script>

<%= render 'form' %>

<%= link_to 'Back', @current_user %>
