<a href='/records/' target='_blank' class='record_thumbnail' >
<a href='/records/' target='_blank'  class='record_thumbnail' style='background-color:red' >
	<h3 class='record_thumbnail_title'></h3>
</a>