<section class="vis-controls">
  <h2>Visualization Controls</h2>

  <%= form_tag(request.original_url, method: :get) do |f| %>
    <%= label_tag 'vis', 'Visualization type' %>
    <%= select_tag 'vis', options_for_select( [ ['list', 'list'], ['thumbnails','thumbnails'], ['object map', 'objectmap'] ], params['vis'] || 'objectmap' ) %>

    <%= submit_tag 'Go', name: nil %>
  <% end %>
</section>

