<script>
	$(document).ready(function(){
		window.record.display( '<%=eval(@record.parsed['image'])[0]%>' );
	});
</script>

<p id="notice"><%= notice %></p>

<div id='main-canvas'>
</div>

<div id='record-data'>
<p>
  <%= @record.original %>
</p>
<p>
  <%= @record.parsed %>
</p>
</div>
<div id='annotations'>
</div>