<%
  background_image = '/missing_thumb.png'
  view_link = 'javascript:void(0);'

  if commandnail.image.present?
    background_image = thumb_work_path( commandnail.image.work )
    view_link = work_path( commandnail.image.work )
  end
%>

<div class="gallery_item tray-item commandnail" style="background-image: url(<%= background_image %>);">
  <ul>
    <li><%= link_to 'View', view_link, class: 'view-item' %></li>
    <li><a href="javascript:void(0);" class="move-item">Move</a></li>
    <li><a href="javascript:void(0);" class="copy-item">Copy</a></li>
    <li><a href="javascript:void(0);" class="remove-item">Remove</a></li>
  </ul>
</div>
