body {
 	margin: 0;
 	padding: 0;
 	height: 100%;
 	font-family: sans-serif;
 	font-size: 12px;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none!important;
	color: black;
}


@media screen and (min-width: 222px) {.GLOBAL_HOLDER {width: 220px;}}
@media screen and (min-width: 442px) {.GLOBAL_HOLDER {width: 440px;}}
@media screen and (min-width: 662px) {.GLOBAL_HOLDER {width: 660px;}}
@media screen and (min-width: 882px) {.GLOBAL_HOLDER {width: 880px;}}
@media screen and (min-width: 1102px) {.GLOBAL_HOLDER {width: 1100px;}}
@media screen and (min-width: 1322px) {.GLOBAL_HOLDER {width: 1320px;}}
@media screen and (min-width: 1542px) {.GLOBAL_HOLDER {width: 1540px;}}
@media screen and (min-width: 1762px) {.GLOBAL_HOLDER {width: 1760px;}}
@media screen and (min-width: 1982px) {.GLOBAL_HOLDER {width: 1980px;}}


/* GLOBAL HOLDER */
.GLOBAL_HOLDER {
  	overflow:hidden;
    margin: 0 auto;
    border: 0px solid red;
    min-width: 882px;
    position: relative;
    border: 0px solid black;
}
.GLOBAL_HOLDER .gallery_item {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;  
}
.GLOBAL_HOLDER .collection_lrg {
	width: 420px;
	height: 420px;
}

/* GLOBAL MISC */
.GLOBAL_MENU, .INFO_BAR, .GALLERY, .ABOUT {
    display:table;
    border-spacing:0;
    width:100%;
    padding: 0 0 70px 0;
}
.left, .right, .expandable {display:table-cell;}
.left {padding: 0 10px; width:200px;}
.expandable {padding: 0 10px;}
.right {padding: 0 10px;width:420px;}



.titlebar {
	font-size: 16px;
	color: #d2232a;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #cccccc;
	margin: 80px 0 20px 0;
	font-weight: bold;
}
.titlebar:first-child {
	margin: 0 0 20px 0;
}
.menulines {
	border-top: 3px solid #d2232a;
	border-bottom: 1px solid #cccccc;
	height: 34px;
	width: 100%;
	position: absolute; top: 0; left: 0;
}
/* GLOBAL MENU */
.GLOBAL_MENU{
	height: 35px;
	position: relative;
}
.GLOBAL_MENU a {
	text-transform:uppercase;
}
.GLOBAL_MENU .left a {
	font-weight: bold;
	color: #d2232a;
	font-size: 14px;
}
.GLOBAL_MENU .left div,.GLOBAL_MENU .expandable div{
	width: 200px; 
}
.GLOBAL_MENU .left div {
	position: absolute;
	left: 10px; 
	z-index: 2; top: 12px;
}
.GLOBAL_MENU .expandable .tools {
	width: 1000px;
	position: absolute;
	right: 10px; top: 12px;
}
.GLOBAL_MENU .expandable div{
	float: right;
	text-align: right;
	position: relative;
}
.GLOBAL_MENU .left {
	position: relative;
}
.GLOBAL_MENU .expandable img {
	position: absolute;
    top: -1px; 
    right: 0;
}
.GLOBAL_MENU .expandable img:last-child {
    display: none;
}
.GLOBAL_MENU .expandable a {
	padding: 0 25px 0 0;
}

/* INFO BAR  */
.INFO_BAR{
	height: 200px;
	position: relative;
}
.INFO_BAR .left img{
	position: absolute;
    top: 0; 
    left: 10px;
    height: 200px;
}
.INFO_BAR .left img:nth-child(n+2) {
    display: none;  
}
.INFO_BAR .expandable .hintbar_desc span{
    position: absolute;
	whitespace: nowrap;
	font-size: 28px;
	color: #d2232a;
}
.INFO_BAR .expandable .hintbar_desc span:nth-child(n+2) {
    display: none;
    color: black!important;
}
.INFO_BAR .expandable .info_text {
	height: 200px;
	border-bottom: 1px solid #d2232a;
	position: relative;
}
.INFO_BAR .latestpost{
	font-weight: bold;
	padding: 35px 0 0 0;
	font-size: 40px;
}

/* GALLERY  */
.GALLERY .gallery_item, .GALLERY .collection_lrg {
	position: relative;
}	
.GALLERY .object_id {
	position: absolute;
	right: 1px;
	top: 1px;
	padding: 2px 7px;
	background: white;
}
.GALLERY .spotlight .object_id {
	background: #d2232a;
	color: white;
	right:0px;
	top: 0px;
}
.GALLERY .spotlight .border{
	border: 2px solid #d2232a;
	height: 183px!important;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: #d2232a;
    font-size: 14px;
}
.GALLERY .spotlight .innertext{
	padding: 30px 20px;
}
.GALLERY .spotlight img, .GALLERY .spotlight .name {
	position: absolute;
	bottom: 0px;
	left: 10px;
	font-size: 11px;
	color: #d2232a;
}
.GALLERY .spotlight .name {
	left: 30px!important;
	bottom: -2px!important;
}
.GALLERY .titlebar{
	margin: 0 10px;
	border: 0px;
}

.GALLERY .news .object_id img {
	width: 15px;
}
.GALLERY .news .object_id {
	background: #d2232a;
	color: white;
	right: 1px;
	top: 3px;
}
.GALLERY .news .border{
	border: 2px solid #d2232a;
    color: #ffffff;
    background: #d2232a;
    font-size: 14px;
}
.GALLERY .news .innertext{
	padding: 20px 15px 15px 15px;
	font-size: 12px;
	font-style:italic;
}
.GALLERY .news .name {
	position: absolute;
	bottom: 0px;
	left: 10px;
	font-size: 11px;
	color: #d2232a;
}
.GALLERY .news .date {
	padding: 5px 0 0 0;
}

/* ABOUT  */
.ABOUT .left {
	padding: 0 10px!important;
	color: #d2232a;
}
.ABOUT .left div{
	position: fixed;
	width: 200px;
	margin: -15px 0 0 0;
}
.ABOUT .left,.ABOUT .expandable{
	font-size: 15px;
}
.ABOUT .event{
	color: #d2232a;
	font-size: 11px;
	border: 3px solid #d2232a;
	padding: 20px;
	margin: 0 60px 20px 60px;
	position: relative;
}
.ABOUT .right .event_title{
	padding: 0 0 10px 0;
	font-weight: bold;
}
.ABOUT .right .event_snippet{
	padding: 0 0 5px 0;
}
.ABOUT .right .event_date{
	padding: 0 0 0 0;
}
.ABOUT .right img{
	position: absolute;
	top: 5px;
	right: -5px;
	width: 16px;
	margin: 0 10px -5px 0;
}
.ABOUT .right .event_snippet img{
	width: 100%;
	border: 1px solid red;
}

/* FOOTER */
.FOOTER {
	width: 100%;
}
.FOOTER div {
	border-top: 1px solid #d2232a;
	padding: 10px 0 0 0;
	margin: 10px;
}




/*CURARIUM INDEX*/
.INFO_BAR #hintbar_links a,.INFO_BAR #hintbar_search a{
	color: #d2232a;
}
.INFO_BAR #hintbar_links,.INFO_BAR #hintbar_search {
	position: absolute; 
	font-size: 14px;
	text-transform:uppercase;
}
.INFO_BAR #hintbar_links {
	bottom: 35px;
}
.INFO_BAR #hintbar_search {
	bottom: 2px;
}

/*CURARIUM ABOUT*/
#howitem {
	font-weight: bold;
}
#howitem td {
	padding: 10px 0;
}
#howitem img{
	width: 200px;
	height: 200px;
	padding: 0 20px 0 0;
}
#howitem ul{
	font-weight: normal;
	list-style-type: none;
	padding: 10px 0 0 0;
	margin: 0px;
}






