<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Helvetica;
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:"Segoe UI";
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Times New Roman Bold";
	panose-1:2 2 8 3 7 5 5 2 3 4;}
@font-face
	{font-family:"\@Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;
	border:none;}
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
	{mso-style-link:"Comment Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman",serif;
	border:none;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;
	color:black;
	border:none;}
a:link, span.MsoHyperlink
	{text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:fuchsia;
	text-decoration:underline;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Segoe UI",sans-serif;
	border:none;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Cambria",serif;
	color:black;
	border:none;}
p.HeaderFooter, li.HeaderFooter, div.HeaderFooter
	{mso-style-name:"Header & Footer";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Helvetica",sans-serif;
	color:black;
	border:none;}
p.BodyA, li.BodyA, div.BodyA
	{mso-style-name:"Body A";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;
	color:black;
	border:none;}
p.Default, li.Default, div.Default
	{mso-style-name:Default;
	margin:0in;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:"Helvetica",sans-serif;
	color:black;
	border:none;}
span.None
	{mso-style-name:None;}
span.Hyperlink0
	{mso-style-name:"Hyperlink\.0";
	color:blue;
	text-decoration:underline;}
span.Hyperlink1
	{mso-style-name:"Hyperlink\.1";
	color:blue;
	text-decoration:underline;}
span.CommentTextChar
	{mso-style-name:"Comment Text Char";
	mso-style-link:"Comment Text";}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";
	font-family:"Segoe UI",sans-serif;}
.MsoChpDefault
	{font-size:10.0pt;
	border:none;}
 /* Page Definitions */
 @page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>


<div class="WordSection1 expandable">

<p class=MsoListParagraph style='margin-left:0in'><u><span style='font-family:
"Times New Roman Bold",serif'>Curarium Terms of Use</span></u></p>

<p class=MsoListParagraph align=center style='text-align:center'><u><span
style='font-family:"Times New Roman Bold",serif'><span style='text-decoration:
 none'>&nbsp;</span></span></u></p>

<p class=BodyA>Effective Date: February 17, 2015</p>

<p class=MsoListParagraph><span style='font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>The following terms of use (the </span><span
style='font-family:"Times New Roman",serif'></span><span style='font-family:
"Times New Roman",serif'>Agreement</span><span style='font-family:"Times New Roman",serif'></span><span
style='font-family:"Times New Roman",serif'>) constitute an agreement between
you and the metaLAB project at Harvard University</span><span style='font-family:
"Times New Roman",serif'></span><span style='font-family:"Times New Roman",serif'>s
Berkman Center for Internet &amp; Society d/b/a Curarium (&quot;Curarium&quot;),
and govern your use of the Curarium website, http://www.curaium.com/, and any
other functionality or services offered by Curarium (collectively, the
&quot;Services&quot;). </span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>Curarium is a platform for exploring, analyzing, and
making arguments about collections and the objects they comprise. It leverages
the power of collections to tell stories by giving users tools ranging from
item-level annotations to comprehensive, repository-wide visualizations,
allowing them to bring both objects and the communities to which they belong
into dialogue with one another.</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman Bold",serif'>1. Acceptance of Terms of Service</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>Please read the terms contained in this Agreement
carefully. You can access this Agreement at any time at <a>http://curarium.com/terms/.
</a></span>&nbsp;<span style='font-family:"Times New Roman",serif'>Your
use of any aspect of the Services constitutes your acceptance of the terms
contained in this Agreement. If you cannot agree with the terms contained in
this Agreement, please do not use the Services. Curarium reserves the right to
change, replace, or otherwise modify this Agreement from time to time. The date
of last modification will be posted at the beginning of this Agreement. It is
the your responsibility to check from time to time for updates.</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman Bold",serif'>2. Your Use of Curarium</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>Curarium is a platform for exploring and analyzing
collections and the objects they comprise. It helps users annotate, visualize,
and compare objects in collections by providing a series of annotation and
presentation tools. Subject to your compliance with this Agreement, Curarium
gives you permission to use these Services. Your use is subject to the
following restrictions and obligations:</span></p>

<p class=MsoListParagraph style='margin-left:0in'><br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>You must be at least
13 years of age to use Curarium. If you are under the age of 18 but at least 13
years of age, you may use the Services only under the supervision of a parent
or legal guardian who agrees to be bound by this Agreement.</span><br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>You may only use the
Services for personal use, and you may not transfer your right to use the
Service to others. If you wish to create an organizational account, please
contact Curarium at curarium@metalab.harvard.edu.</span><br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>You may not use the
Services to transmit, route, provide connections to, or store any content that
violates the rights of any third party, or to upload or promote any material
that constitutes junk mail, spam, or commercial offers. </span><br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>You agree not to
disrupt, overwhelm, attack, modify, reverse engineer or interfere with the
Services or its associated software, hardware, or servers in any way, and you
agree not to impede or interfere with others' use of the Services.</span><br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>Except as expressly
authorized through the platform, you may not copy, rip, or capture any content
encountered on the Services. This includes bulk copying or </span><span
style='font-family:"Times New Roman",serif'></span><span style='font-family:
"Times New Roman",serif'>scraping</span><span style='font-family:"Times New Roman",serif'></span><span
style='font-family:"Times New Roman",serif'> any portion of the website content
using a bot or other tool. We welcome academic analysis of the Curarium website
using scraping or other tools, but please contact Curarium directly at
curarium@metalab.harvard.edu to seek permission.</span><br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>You may only use these
Services for lawful activity. It is your responsibility to comply with all
applicable local, state, and federal laws and regulations.</span></p>

<p class=BodyA>&nbsp;</p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>Your privacy is important to us. Please refer to the
Berkman Center</span><span style='font-family:"Times New Roman",serif'></span><span
style='font-family:"Times New Roman",serif'>s Policy at </span><a
href="http://cyber.law.harvard.edu/about/privacy-policy"><span
class=Hyperlink0><span style='font-family:"Times New Roman",serif'>http://cyber.law.harvard.edu/about/privacy-policy</span></span></a><span
style='font-family:"Times New Roman",serif'> for information on how Curarium
collects, stores, uses, and protects your data.</span></p>

<p class=MsoListParagraph style='margin-left:0in'><span style='font-family:
"Times New Roman",serif'>&nbsp;</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>3. Member
Accounts</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>In order to access some features of the Services, you will be
required to register an account with Curarium. Registration may require to
provide certain information, including your name and e-mail address. Storage
and use of that information is governed by the Berkman Center<span lang=FR></span>s
<a href="http://cyber.law.harvard.edu/about/privacy-policy"><span
class=Hyperlink1>Privacy Policy</span></a>.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA>You are solely responsible for all usage or activity on your
account, with or without your authorization. You hereby agree not to create an
account on behalf of someone other than yourself or by using a fake identity.
Curarium reserves the right to delete accounts or ban users for any reason. If
you were previously banned or had your account revoked at any time, you may not
register for another account.</p>

<p class=MsoListParagraph><span style='font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=BodyA>If you would like to terminate an account, or if you have reason
to believe that your account is no longer secure, please notify us at
curarium@metalab.harvard.edu.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>4.
Uploading or Generating Content</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif;
font-variant:small-caps'>&nbsp;</span></p>

<p class=BodyA>Some portions of the Services provide Users the ability to
upload information, including JSON files referencing media hosted on other
platforms, and to generate and post content (collectively, User Content). You
retain ownership over all information User Content. By submitting User Content,
however, you grant Curarium a nonexclusive, perpetual, irrevocable, world-wide,
fully paid-up, sublicensable, and transferable license to use, reproduce,
display, annotate, transmit, perform, modify, translate, your User Content in
any medium now known or hereafter devised, including, without limitation,
third-party websites where Curarium content is transmitted or syndicated.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA>By uploading User Content, you further represent and warrant
that:<br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>you have all rights
necessary to upload, link, generate, or post the User Content to the Services;</span><br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>your use and Curarium</span><span
style='font-family:"Times New Roman",serif'></span><span style='font-family:
"Times New Roman",serif'>s use of the User Content does not infringe or violate
the rights of any third party, including, without limitation, any intellectual
property rights, performer</span><span style='font-family:"Times New Roman",serif'></span><span
style='font-family:"Times New Roman",serif'>s rights, or rights of privacy or
publicity;</span><br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>the User Content is
not unlawful, abusive, defamatory, or obscene; and</span><br>
<br>
</p>

<p class=MsoListParagraph style='text-indent:-.25in'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-family:"Times New Roman",serif'>the User Content does
not and will not create any liability on the part of Curarium or any of its
affiliates.</span></p>

<p class=BodyA><br>
<br>
</p>

<p class=BodyA>By uploading User Content, you also agree to execute and deliver
any documents and provide all assistance reasonably requested by Curarium to
provide the full benefits granted to Curarium by you. </p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>5.
Reporting Copyright Infringement</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif;
font-variant:small-caps'>&nbsp;</span></p>

<p class=BodyA>Please note that Curarium does not host many of the visual
objects displayed on the website, and instead uses the application interfaces
of third-party content hosts to display such content. Therefore, if you are
concerned about images that are hosted online without your permission, you
should instead to contact the underlying image host.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA>If you are the copyright owner of a work that you believe is
infringed on the Curarium website, you may notify Curarium by providing the
following information (as required by the Digital Millennium Copyright Act, 17
U.S.C. § 512) to our copyright agent identified below:</p>

<p class=BodyA>&nbsp;</p>

<p class=MsoListParagraph style='margin-left:.75in;text-indent:-.25in'>A.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='font-family:"Times New Roman",serif'>Identification of the copyrighted
work claimed to have been infringed, or, if multiple copyrighted works at a
single online site are covered by a single notification, a representative list
of such works at that site;</span><br>
<br>
</p>

<p class=MsoListParagraph style='margin-left:.75in;text-indent:-.25in'>B.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='font-family:"Times New Roman",serif'>Identification of the material that
is claimed to be infringing or to be the subject of infringing activity and
that is to be removed or access to which is to be disabled, and information
reasonably sufficient to permit Curarium to locate the material;</span><br>
<br>
</p>

<p class=MsoListParagraph style='margin-left:.75in;text-indent:-.25in'>C.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='font-family:"Times New Roman",serif'>Information reasonably sufficient
to permit Curarium to contact the complaining party, such as an address,
telephone number, and if available, an electronic mail address at which the complaining
party may be contacted;</span><br>
<br>
</p>

<p class=MsoListParagraph style='margin-left:.75in;text-indent:-.25in'>D.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='font-family:"Times New Roman",serif'>A statement that the complaining
party has a good faith belief that use of the material in the manner complained
of is not authorized by the copyright owner, its agent, or the law;</span><br>
<br>
</p>

<p class=MsoListParagraph style='margin-left:.75in;text-indent:-.25in'>E.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='font-family:"Times New Roman",serif'>A statement that the information in
the notification is accurate, and under penalty of perjury, that the
complaining party is authorized to act on behalf of the owner of an exclusive
right that is allegedly infringed; and </span><br>
<br>
</p>

<p class=MsoListParagraph style='margin-left:.75in;text-indent:-.25in'>F.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='font-family:"Times New Roman",serif'>A physical or electronic signature
of person authorized to act on behalf of the owner of an exclusive right that
is allegedly infringed;</span></p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA>            </p>

<p class=BodyA>Such notices may be sent to Curarium<span lang=FR></span>s
Copyright Agent, at: </p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA>            Andrew Sellars<br>
            Copyright Agent, Curarium</p>

<p class=BodyA>            Berkman Center for Internet &amp; Society</p>

<p class=BodyA style='margin-left:.5in'>23 Everett Street, Second Floor<br>
Cambridge, MA  02138 <br>
617-384-9125<br>
clinic@cyber.law.harvard.edu&nbsp;<br>
<br>
</p>

<p class=BodyA>Note: Only copyright complaints should be sent to the agent. For
communications on other matters, please contact Curarium at
curarium@metalab.harvard.edu.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>6.
Third-Party Services</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>Curarium relies on other services at the metaLAB at Harvard
University, and some third-party services, to operate this website and provide
these Services, including but not limited to third party databases, networks,
servers, software, programs, systems, directories, applications, or products.
You hereby acknowledge that Curarium may not maintain or control such websites
and services, and cannot be held responsible for their content, operation, or
use. Curarium does not give any representation, warranty, or endorsement,
express or implied, with respect to the legality, accuracy, quality, or
authenticity of content, information, or services provided by third-party
websites and services. Curarium disclaims any and all responsibility or
liability for any harm resulting from your use of such third-party websites and
services, and you hereby irrevocably waive any claim against Curarium with
respect to the content or operation of any such third-party websites and
services.</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>7.
Termination of Accounts or User Content</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif;
font-variant:small-caps'>&nbsp;</span></p>

<p class=BodyA>Curarium reserves the right, but is not obligated, to monitor
your usage of the Services, and to review, edit, move or delete any account or
User Content, in its sole discretion, without notice, at any time. Any
violation of this Agreement is grounds for your immediate termination, without
notice. </p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA>8<span style='font-family:"Times New Roman Bold",serif'>.
Comments or Actions by Others Are Not Endorsed by Curarium</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>Curarium is creating an online platform where users can curate,
annotate, and share information about collections of media, and therefore does
not inherently endorse, support, sanction, encourage, verify, or agree with the
comments, opinions, or statements posted or otherwise provided by any
individual or other entity through the Services. Any information or material
placed online is the views and responsibility of those who post the statements
and do not necessarily represent the views of Curarium or its third party
service providers. You agree that Curarium and its third party service
providers are not responsible, and shall have no liability to you, with respect
to any information or materials posted by others, including defamatory,
offensive, or illicit material that violate this Agreement.</p>

<p class=BodyA><br>
<br>
</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>9.
Indemnification</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>You agree to indemnify Curarium and its affiliates, employees,
agents, representatives, and third party service providers, and to defend and
hold each of them harmless, from any and all claims and liabilities (including
attorneys' fees) arising out of or related to your breach of this Agreement or
your use of the Services.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>10.
Disclaimer of Warranty </span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>YOU ACKNOWLEDGE THAT YOU ARE USING THE SERVICES AT YOUR OWN
RISK. THE SERVICES ARE PROVIDED AS IS,<span style='font-family:"Arial Unicode MS",sans-serif'>
</span><span lang=PT>AND CURARIUM, ITS AFFILIATES, AND ITS THIRD PARTY SERVICE
PROVIDERS HEREBY EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, EXPRESS AND
IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF ACCURACY, RELIABILITY,
TITLE, MERCHANTABILITY, NON-INFRINGEMENT, FITNESS FOR A PARTICULAR PURPOSE OR
ANY OTHER WARRANTY, CONDITION, GUARANTEE OR REPRESENTATION, WHETHER ORAL, IN
WRITING OR IN ELECTRONIC FORM, INCLUDING BUT NOT LIMITED TO THE ACCURACY OR
COMPLETENESS OF ANY INFORMATION CONTAINED THEREIN OR PROVIDED BY THE SERVICES.
CURARIUM, ITS AFFILIATES, AND ITS THIRD PARTY SERVICE PROVIDERS DO NOT
REPRESENT OR WARRANT THAT ACCESS TO THE SERVICES WILL BE UNINTERRUPTED OR THAT
THERE WILL BE NO FAILURES, ERRORS OR OMISSIONS OR LOSS OF TRANSMITTED
INFORMATION, OR THAT NO VIRUSES WILL BE TRANSMITTED THROUGH THE SERVICES.</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif;
font-variant:small-caps'>&nbsp;</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>11.
Limitation of Liability</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>CURARIUM, ITS AFFILIATES, AND ITS THIRD PARTY SERVICE PROVIDERS SHALL
NOT BE LIABLE TO YOU OR ANY THIRD PARTIES FOR ANY DIRECT, INDIRECT, SPECIAL,
CONSEQUENTIAL, OR PUNITIVE DAMAGES OF ANY KIND, REGARDLESS OF THE TYPE OF CLAIM
OR THE NATURE OF THE CAUSE OF ACTION, EVEN IF CURARIUM HAS BEEN ADVISED OF THE
POSSIBILITY OF SUCH DAMAGES.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>12.
Severability, No Waiver</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>No waiver of any term of these Terms of Use shall be deemed a
further or continuing waiver of such term or any other term, and Curarium<span
lang=FR></span>s failure to assert any right or provision under these Terms of
Use shall not constitute a waiver of such right or provision.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA>To the extent that any provision of this Terms of Use is deemed
invalid or unenforceable or is deemed to affect the validity or enforceability
of any other part of this Terms of Use for any reason, that provision shall be
limited or eliminated to the minimum extent necessary, and the remaining
provisions of this Terms of Use shall remain in full force and effect.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>13.
Governing Law and Venue</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>You agree that this Agreement, for all purposes, shall be governed
and construed in accordance with the laws of the Commonwealth of Massachusetts.
Any action based on, relating to, or alleging a breach of this Agreement must
be brought in a state or federal court in Middlesex or Suffolk County,
Massachusetts. Both parties agree to submit to the exclusive personal
jurisdiction and venue of such courts.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>14.
Entire Agreement</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>This Agreement constitutes the entire agreement between the
parties and supersedes all previous agreements relating to the use of the
Services.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>15.
Contact Us</span></p>

<p class=BodyA><span style='font-family:"Times New Roman Bold",serif'>&nbsp;</span></p>

<p class=BodyA>If you have questions about this Agreement, please contact us at
<br>
curarium@metalab.harvard.edu.</p>

<p class=BodyA>&nbsp;</p>

<p class=BodyA>Curarium</p>

<p class=BodyA>metaLAB</p>

<p class=BodyA>Berkman Center for Internet &amp; Society</p>

<p class=BodyA>23 Everett St., Second Floor</p>

<p class=BodyA>Cambridge, MA 02138</p>

</div>

</div>

</div>

</div>


