development:
  adapter: postgresql
  database: curarium_dev
  username: postgres
  password: postgres
  encoding: utf8
  pool: 15
  timeout: 5000
  template: postgis_23_sample

test:
  adapter: postgresql
  database: curarium_test
  username: postgres
  password: postgres
  encoding: utf8
  pool: 5
  timeout: 5000
  template: postgis_23_sample
