<div class="gallery_item">
  <div class="draftsnail">
    <%= link_to render( partial: 'shared/mini_icon', object: 'annotate', locals: { icon_title: 'Drafts and New Spotlights' } ), new_spotlight_path, target: "_blank" %>
  </div>
</div>
