<% provide :title, 'Spotlights' %>

<div class="container">
  <h2 class="page-header">Spotlights</h2> 

  <%= render partial: 'shared/gallery', object: @spotlights, locals: { newnail: Spotlight } %>
</div>
