<h1>New spotlight</h1>

<%= render 'form' %>

<% User.find(session[:user_id]).trays.each do |tray|%>
	<div>
		<h3><%=tray.name%></h3>
		<% tray.records.each do |record|%>
			<% @record = Record.find(record) %>	
			<%= render 'records/thumb', locals: {record: @record} %>
		<% end %>
	</div>
<% end %>

<%= link_to 'Back', spotlights_path %>
