.color-item {
  .thumbnail {
    margin-bottom: 0;
  }

  .color-length {
    width: 100%;
    margin-bottom: 2em;

    font-size: 11px;
    font-color: none;
  }

  .color-code {
    width: 100%;
    border: 1px solid #D3D3D3;
    height: 30px;
    overflow: none;
  }

  .color-info {
    display: block;
    float: left;
    height: 30px;
    font-size: 0px;
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .color-item .color-length {
    width: 224px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .color-item .color-length {
    width: 208px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .color-item .color-length {
    width: 152px;
  }
}
