.color-box {
	width: 1500px;
}

.color-viz {
	width: 350px !important;
	font-size: 10px;
	float: left;

  .thumbnail {
    background-size: 270px;
    height: 270px;
    width: 270px;
  }
}

#one_color {
	height: 50px;
}

#two_color {
	height: 50px;
}

#three_color {
	height: 50px;
}

#four_color {
	height: 50px;
}

.color-length {
	width: 270px !important;
	font-size: 11px;
	font-color: none;
}

.bar-code {
	height: 10px;
	width: 100%;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.color-percent  {
	float: left;
}

.color-info {
	float: left;
	height: 30px;
	font-size: 0px;
	max-width: 65px;
}

.color-details {
	font-size: 0px;
}

.color-code {
	max-width: 270px;
	border: 1px solid #D3D3D3;
	height: 30px;
	overflow: none;
}
