footer {
  font-size: $font-size-small;
  line-height: 1em;

  .navbar {
    max-height: none;
    margin-bottom: 0;
    margin-top: 31px;
    border-top: 1px solid $brand-primary;
    box-shadow: none;

    &.navbar-fixed-bottom {
      margin-top: 0;
    }
  }

  .navbar-brand {
    font-size: $font-size-small;
  }
}
