/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.gallery {
  margin-bottom: -232px;
  overflow: hidden;

  .gallery-item {
    height: 208px;
    width: 100%;
  }

  .big {
    .gallery-item {
      height: 464px;
      width: 100%;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
.gallery {
  margin-bottom: -248px;

  .gallery-item {
    height: 224px;
    width: 224px;
  }

  .big {
    .gallery-item {
      height: 466px;
      width: 476px;
    }
  }
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
.gallery {
  margin-bottom: -232px;

  .gallery-item {
    height: 208px;
    width: 208px;
  }

  .big {
    .gallery-item {
      height: 434px;
      width: 452px;
    }
  }
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
.gallery {
  margin-bottom: -176px;

  .gallery-item {
    height: 152px;
    width: 152px;
  }

  .big {
    .gallery-item {
      height: 322px;
      width: 348px;
    }
  }
}
}

