.geochrono-nav {
	width: 1310px;
	height: 370px;
}

.chrono-slider {
	width: 1240px;
	padding: 0px 5px 0px 5px;
	height: 370px;
	overflow: hidden;
	float: left;
}


  .chrono-display {
    width: 4000px;
    height: 270px;
  }

.chrono-info {
	width: 7000px;
	height: 14px !important;

  .chrono-indi:first-child {
    width: 180px;
    overflow: hidden;
    float: left;
    margin-left: 500px;
  }

.chrono-indi {
	width: 160px !important;
	overflow: hidden;
	float: left;
	display: inline-block;
}

  img {
    width: 270px;
    height: 270px;
    padding: 0px 0px 0px 0px;
    display: none;
  }

  button {
    width: 30px;
    margin-top: 110px;
    padding: 10px;
    float: left;
    vertical-align: center;
  }

  .date-slider {
    border: 1px solid #d2232a;
    padding-bottom: 20px;
  }

  .position{
    border-right: 2px solid #d2232a;
    height: 50px;
    width: 500px;
  }
}
