.works-objectmap {
  .geomap {
    bottom: 35px;
    left: 0;
    position: absolute;
    right: 0;
    top: 38px;
  }

  .commands {
    position: absolute;
    right: 1em;
    top: 4em;

    .button {
      display: block;
      height: 2em;
      margin: 1em 0;
      position: static;
      width: 2em;
    }
  }

  .minimap.geo-map {
    bottom: 3em;
    border: solid 5px white;
    position: absolute;
    height: 256px; /* was 256 */
    width: 256px;
  }

  .context-importing {
    display: block;
    font-weight: bold !important;
    margin-top: 45%;
    text-align: center;
  }
}


