a.thumbnail, div.thumbnail {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110%;
  position: relative;

  img {
    height: 100%;
    margin: 0 auto;
  }

  .title {
    background-color: $cred;
    color: $white;
    padding: 0 .5em .25em .5em;
    position: absolute;
    right: 0;
    top: 0;
  }
}
