a.thumbnail {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
  position: relative;

  &:hover {
    text-decoration: none;
  }

  .title {
    background-color: $brand-primary;
    color: $white;
    font-size: $font-size-small;
    max-height: 4em;
    max-width: 60%;
    overflow: hidden;
    padding: 0 .5em .25em .5em;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
  }
}

a.circle-thumbnail {
  .circle {
    position: absolute;
    top: -4em;
    right: -4em;
    bottom: -4em;
    left: -4em;

    border: 4em solid $body-bg;
    border-radius: 100%;
  }
}

a.tray-thumbnail {
  .tray-item-images {
    width: 100%;
    height: 100%;

    div {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 32%;
      height: 32%;
    }
  }
}

a.spotlight-thumbnail {
  border-color: transparent;
  box-shadow: none;

  &:hover, &:focus, &.active {
    border-color: transparent;
  }

  p {
    margin: 2em;
    overflow: hidden;
  }
}

a.newnail-thumbnail {
  background: none;
  color: $brand-primary;
  padding-top: 2em;

  span {
    display: block;
  }

  .glyphicon {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
  }

  .command {
    font-size: $font-size-large;
    font-weight: bold;
  }
}

