.vis-treemap {
  position: absolute;
  top: 58px;
  right: 0;
  bottom: 51px;
  left: 0;

  .node {
    display: block;

    position: absolute;

    color: $black;
    overflow: hidden;
    text-transform: capitalize;
  }
}


