.vis-controls {
  
  position: absolute;
  top: 70px;
  text-align: center;

  .rec_menu {
    border: 1px solid #d2233a;
    background: #eee;
    padding: 5px 8px;
  }

  .rec_menu label[for=drop] {
    color: #d2233a;
    font-weight: bold;
  }

  .rec_menu label[for=drop]:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  #drop:checked ~ .dropdown {
    display: table;
    border-collapse: separate;
    border-spacing: .7em;
  }

  #drop:checked ~ #down {
    display: none;
  }

  #drop:checked ~ #up {
    display: inline;
  }

  
  .dropdown {
    display: none;
    top: 300px;
  }
  
  .floatdivs{
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
  }

  .dropcell {
    text-align: left;
    border: 1px solid #d2233a;
    background: #fff;
    height: 160px;
    overflow: auto;
    zoom: 1
  }

  .update {
    border: 1px solid #d2233a;
    background: #fff;
    height: 35px;
    line-height: 35px;
    margin: .7em 0;
    text-align: center;
    width: 100%;
  }
  
  #go {
    background: #d2233a;
    border: 1px solid #d2233a;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 31%;
    margin: 0 auto;
  }

  #go:hover {
    background: #fff;
    color: #d2233a;
  }

  select {
    border: 1px solid #d2233a;
    font-weight: bold;
    color: #d2233a;
    background: #fff;
    width: 100%;
  }

  select[disabled], input[disabled] {
    color: #999;
    border: 1px solid #999 !important;
  }

  #up, #down {
    width: 3px;
    height: auto;
    top: 7px;
    position: absolute;
  }


  .subcell {
    margin: 6% 6% 0px 6%;
  }

  #incexc {
    display: table;
    width: 88%;
  }

  .add-prop {
    width: 75px;
    background: #fff;
    font-weight: bold;
  }

  .wrap {
    width: 78px;
    display: table-cell;
  }

  #inc {
    border: 1px solid #d2233a;
    color: #d2233a;
  }

  #exc {
    border: 1px solid #000;
    color: #000;
  }

  #per_page {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
  }

  #propval {
    width: 100%;
    display: table-cell;
  }

  #props > span {
    display: inline-block;
    margin: .25em;
    padding: .25em;
  }

  .include {
    background: #d2232a;
    color: #fff;
  }

  .exclude {
    background: #000;
    color: #fff;
  }

  .include a, .exclude a {
    color: #fff;
    font-weight: bold;
  } 

}
