.vis-controls {
  position: absolute;
  z-index: 23;
  
  .search-report {
    white-space: nowrap;
  }

  #props .alert {
    display: inline-block;
    margin-right: .5em;

    .close {
      margin-left: .5em;
      width: 1em;
    }
  }

  label.checkbox-inline {
    font-weight: bold;
  }

  .form-inline {
    label {
      width: 62%;
    }

    select, input {
      width: 32%;
    }
  }
}
