.activities-list {
  .media-object {
    width: 4em;
    height: 4em;
  }

  i {
    padding-right: 1em;
  }

  .media-heading {
    font-weight: bold;
  }

  .media-body {
    font-size: $font-size-small;
  }
}
