span.activity {
  display: block;
  margin-bottom: 1em;

  .mini-icon {
    display: inline;
    margin-right: 1.5em;
  }

  .activity-date {
    font-weight: bold;
    vertical-align: top;
  }

  .activity-body {
    display: block;
    margin-left: 3.2em;
  }

  .activity-creator {
    display: block;
    margin-left: 6em;

    &::before {
      content: '- ';
    }
  }
}
