.media-list-annotations {
  .media a {
    position: relative;
    width: 64px;
    height: 64px;

    display: inline-block;
  }

  .media-object {
    max-width: 64px;
    max-height: 64px;

    float: right;
  }
}
