@import "colors";
@import "fonts";

.annotation-thumbnail {
  border: solid 1px $cred;

  img {
    width: 100%;
  }

  .title {
    background-color: $cred;
    color: $white;
    padding: 0 .5em .25em .5em;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover, &.hover {
    outline: solid 2px $cred;

    .title {
      background-color: $white;
      color: $cred;
      font-weight: bold;
      outline: solid 2px $cred;
    }
  }
}

.annotations.show {
  .stalking_menu a {
    display: block;
  }

}

.works.show {
  .annotation-xhr {
    background: $white;
    padding: 1em;
    margin: 150px;

    .popup-commands {
      float: right;
      list-style-type: none;
    }
  }
}
