@import "colors";

$brand-primary: $cred;

$font-family-sans-serif: "Open Sans", Arial, sans-serif;

$navbar-default-bg: $white;
$navbar-default-border: $white;

@import "bootstrap";
@import "bootstrap/theme";

@import "magnific-popup";
@import "introjs";

@import "mini_icons";
@import "thumbnail";
@import "activities";
@import "header";

@import "gallery";
@import "container_show_item";

@import "home";

@import "works";
@import "trays";
@import "circles";
@import "spotlights";

@import "footer";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require formtastic
 *= require magnific-popup
 *= require introjs
 *= require_self
 *= require_tree
 */

