/*
 *= require formtastic
 *= require magnific-popup
 *= require_self
 *= require_tree
 *= require introjs
 */

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

* {
  box-sizing: inherit;
}
