.circles.show {
  .col-activity {
    .members {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
      }

      .thumbnail {
        width: 4em;
        height: 4em;

        .title {
          display: none;
        }
      }
    }

    fieldset {
      display: inline-block;
    }
  }

  .mfp-content {
    width: auto;
  }

  .ccs-popup {
    display: none;
    margin: 0 auto;
    padding: 1em;

    .btn-group-vertical {
      margin: 1em;
    }
  }
}
