.collections.configure {

  .panel-configure {
  }

  .work-original {
    .btn-default {
      background: $body-bg;
      color: $brand-primary;
      height: auto;
      overflow: hidden;
      text-align: left;
      white-space: normal;
    }
  }

  .col-active-fields {
    .panel-configure {
      position: fixed;

      max-height: 600px;
      overflow: auto;
      width: 30%;
    }

    .form-active-fields {
      font-size: $font-size-small;
    }

    .droppable {
      border: dashed 1px #999;
    }
  }
}
