@import "colors";
@import "fonts";

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

h1 {
  color: $cred;
  font-size: $fontSize3;
  
  &.collection-header {
    border-bottom: 1px solid #CCC;
    font-size: 18px;
    margin-bottom: 21px;
  }
}

h2 {
  color: $cred;
  font-size: $fontSize2;
  margin-top: 1em;
}

section h1 {
  margin-top: 0;
}

section h2 {
  margin-bottom: 1em;
}

select {
  background-color: white;
}

.persona-button {
  white-space: nowrap;
}

input[type=text], input[type=password], textarea, .login-button, .tray-popup-button {
  background: $white;
  border: 1px solid $cred;
  color: $cred;
  font-size: $fontSize1;
  padding: 2px 0px;
  margin-bottom: 5px;
  margin-right: 5px;
}

input[type=text], input[type=password], .login-button, .tray-popup-button {
  height: 20px;
  width: 160px;
}

a {
  color: $cred;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

dl {
  margin: 4px 0;
}

dt {
  color: $cred;
  display: inline-block;
  font-weight: bold;
  padding-right: 8px;
}

dd {
  display: inline-block;
}

/* GLOBAL HOLDER */
.GLOBAL_HOLDER {
  overflow: hidden;
  margin: 0 auto;
  border: 0px solid red;
  min-width: 1000px;
  position: relative;
  border: 0px solid black;

  .GALLERY {
    .gallery_item {
      width: 200px;
      height: 200px;
      float: left;
      margin: 10px;  
      background-repeat: no-repeat;
      background-position: center center; 
      background-size: cover;
      list-style-type: none;
      a{
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    .item_lrg {
      width: 420px;
      height: 420px;
    }
  }

}

.home.index {
  .GLOBAL_HOLDER {
    .GALLERY {
      margin-bottom: -256px;
    }
  }
}

/* GLOBAL MISC */
.GLOBAL_MENU, .INFO_BAR, .GALLERY, .ABOUT {
  display:table;
  border-spacing:0;
  width:100%;
  padding: 0 0 68px 0;
}

.createnew {
  border: 2px solid #d2232a;
  font-weight: bold;
  @include rounded-corners(3px);
  width: 195px;
  height: 195px;
  text-align: center;
  vertical-align: middle;
  line-height: 260px;  
  background: #ffffff url('add_r.png') no-repeat center center;
  a {
    color: #d2232a;
    text-decoration: none;
  }
}

.createnew:hover {
  border: 2px solid #d2232a;
  cursor: pointer;
  background: #d2232a url('add_w.png') no-repeat center center;
  a {
    color: $white;
  }
}

.left, .right, .expandable {display:table-cell;}
.left {padding: 0 10px; width:200px;}
.expandable {padding: 0 10px;}
.right {padding: 0 10px; width:420px;}

.button {
  border: 1px solid #d2232a;
  display: block;
  padding: 5px 0;
  text-align: center;
  color: #d2232a;
  font-weight: bold;
  background-color: white;
  position: absolute;
}

.button:hover {
  background: #d2232a;
  color: #ffffff;
  cursor: pointer;
}
.titlebar {
  font-size: 16px;
  color: #d2232a;
  border-bottom: 1px solid #CCCCCC;
  margin: 40px 0 20px 0;
  font-weight: bold;
}
.titlebar:first-child {
  margin: 0 0 20px 0;
}
.toggle_curarium {
  position: relative;
}
.dropdown_menu {
  background: $white; 
  position: absolute;
  padding: 20px 0px 20px 0px!important;
  width: 100%;
  height: 0px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}
.dropdown_menu a {
  color: #000000!important;
  font-size: $fontSize1 !important;
  font-weight: normal!important;
  text-transform:none!important;
  text-shadow:
  -1px -1px 1px #fff,
  1px -1px 1px #fff,
  -1px 1px 1px #fff,
  1px 1px 1px #fff;  
  font-weight: bold!important;
  color: #d2232a!important;
  background-color: $white;
}
.left .dropdown_menu {
  top: 16px;
  left: -20px !important;
}
.left .dropdown_menu a {
  padding: 3px 20px;
}
.expandable .dropdown_menu {
  right: -10px!important;
  top: -3px !important;
  width: 192px;
}
.expandable .dropdown_menu a {
  display: block;
  padding: 3px 37px 3px 20px!important;
}

/* GLOBAL MENU */
.GLOBAL_MENU{
  height: 35px;
  position: relative;
  a {
    text-transform: uppercase;
  }
  .curarium_name{
    position: absolute;
    left: 0;
  }
  .left {
    position: relative;
    a {
      font-weight: bold;
      color: #d2232a;
      font-size: $fontSize2;
	    left: 0;
	    position: absolute;

      .mini_icon { 
	padding: 0;
	margin: 0;
	height: 22px;
      }

      &.beta {
        left: 80px;
      }
    }
    &>div {
      width: 200px; 
      padding: 0 0 0 20px;
      position: absolute;
      left: 10px; 
      z-index: 2; top: 12px;
    }
    .global_search {
      position: absolute;
      top: -3px;
      left: 30px;
      width: 158px;
      height: 20px;
      padding: 0 5px;
      margin: 0;
      border: 1px solid #ccc;
      input {
	border: 0;
	font-size: $fontSize1;
	color: #aaa;
	height: 18px;
	width: 140px;
      }
      img {
	width: 13px;
	position: absolute;
	right: 0;
	top: 4px;
	right: 3px;
      }
    }
  }
  .expandable{
    .tools {
      width: 100%;
      right: 10px; top: 12px;
    }
    div{
      float: right;
      text-align: right;
      position: relative;
      width: 200px; 
    }
    img {
      position: absolute;
      top: 2px; 
      right: 0;
    }
    a {
      padding: 0 25px 0 0;
    }
  }
}

#hide-an{
  padding-right: 80px;
}

/* INFO BAR  */
.INFO_BAR{
  min-height: 200px;
  position: relative;
  .shifter{
    img{
      position: absolute;
      top: 0; 
      left: 10px;
      height: 200px;
      &:nth-child(n+2) {
	display: none;  
      }
    }
    
  }
  .expandable {
    .info_text {
      min-height: 200px;
      border-bottom: 1px solid #d2232a;
      position: relative;
    }
    .hintbar_desc {
      span{
	whitespace: nowrap;
	font-size: $fontSize3;
	color: #d2232a;
	&:nth-child(n+2) {
	  display: none;
	  color: black!important;
	}
      }
    }
  }
}

/* GALLERY  */
.gallery_item, .item_lrg {
  position: relative;
}	
.object_id {
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 2px 7px;
  background: white;
  text-align: right;
  max-width: 184px;
}
.spotlight .object_id {
  background: #d2232a;
  color: white;
  right:0px;
  top: 0px;
}
.spotlight .border{
  border: 2px solid #d2232a;
  height: 183px!important;
  @include rounded-corners(5px);
  color: #d2232a;
  font-size: $fontSize2;
}
.spotlight .innertext{
  height: 108px;
  padding: 30px 20px;
  overflow: hidden;
}
.spotlight img, .spotlight .name {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: $fontSize1;
  color: #d2232a;
}
.spotlight .name {
  left: 30px!important;
  bottom: -2px!important;
}

.item_lrg {
  .border {
    height: 403px !important;
  }
  
  .innertext {
    height: 308px !important;
    
  }
}

.GALLERY .titlebar{
  margin: 0 10px;
  border: 0px;
}

/* ABOUT  */
.about_content {
  padding: 20px 0 0 0;
}
.about_content .left {
}
.about_content .expandable {
  width: 100%;
}

.about_content .left .holder {
  width: 200px;
}
.about_content .right .activity_holder {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  color: #d2232a;
  position: relative;
  width: 100%;
  height: 20px;
  td {
    padding-top: 15px;
  }
}
.about_content .right .activity_holder .date {
  position: relative;
  width: 80px;
  vertical-align: top;
}
.about_content .right .activity_holder .date img {
  position: absolute;
  vertical-align: top;
  top: 0;
  left: 50px;
  width: 15px;
}
.about_content .right .activity_holder .activity {
  font-style: italic;
}
.about_content .titlebar{
  border-color: #ccc;
}
.about_content .titlebar img{
  border-color: #d2232a;
  float: right;
}
.profile_img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.about_content .expandable .cont_about {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.about_content .cont_vocab a{
  font-weight: bold;
  color: #d2232a;
}

.about_content .gallery_item {
  margin: 0 20px 20px 0;
}	
.about_content .titlebar {
  position: relative;
}
.about_content .titlebar .more {
  position: absolute;
  font-size: $fontSize1;
  right: 0;
  bottom: 5px;
}
.about_content .titlebar .more img{
  padding: 0 0 0 16px;
}

.contactinfo{
  padding-bottom: 50px;
}

.main{
  font-weight: normal;
  
}
.main img{
  left: 0;
  float: none;
  position: relative;
  top: 2px;
  padding: 0 7px 0 0;
  width: 15px;
}
.about_content .stalking_menu_holder {
  padding: 20px 0 0 0;
  position: relative;
}
.about_content .stalking_menu {
  font-weight: bold;
  color: #d2232a;

  li{
    list-style-type: none; 
  }
}

.about_content .stalking_menu div {
  padding: 0 0 7px 20px;
  position: relative;
}
.about_content .stalking_menu_main div {
  padding: 0 0 7px 0;
}
.about_content .stalking_menu div img{
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: 13px;
}

/* FOOTER */
.FOOTER {
  width: 100%;
  background-color: #FFFFFF;
  z-index: 13;

  div {
    border-top: 1px solid #d2232a;
    padding: 10px 0 0 0;
    margin: 5px;
  }

  .terms {
    float: right;
  }
}

.color_info{
  color: #000000;
}

/*CURARIUM INDEX*/
.INFO_BAR #hintbar_links > span {
  display: block;
  margin: 1em 0;
  vertical-align: middle;
}

.INFO_BAR #hintbar_links {
  bottom: 35px;
}

/*CURARIUM ABOUT*/
.howitem {
  font-weight: bold;
  color: #000!important;
  width: 100%;
}
.howitem tbody {
  width: 100%;
}

.howitem tr {
  width: 56%;
}

.howitem td {
  padding: 10px 0;
}
.howitem img{
  width: 200px;
  height: 200px;
  padding: 0 20px 0 0;
}
.howitem ol{
  font-weight: normal;
  list-style-type: ordered;
  padding: 10px 0 0 16px;
  width: 100%;
  margin: 0px;
  color: #000!important;
}
/*SUB MENU*/
.SUB_MENU {
  z-index: 100;
  background: white;
  position: absolute;
  top: 65px;
  height: 15px;
/*  overflow: hidden; */
  padding: 4px 0;
  margin-bottom: 10px;
  @include rounded-corners(3px);
    a {
      margin-left: 10px;
    }
}
.SUB_MENU .right{
  width: 200px;
  text-align: right;
  float: right;
}
.SUB_MENU .expandable {
  width: 250px;
  float: left;
}

.active_collection{
  font-weight: bold;
  color: #d2232a;
}
.orderby span:first-child {
  padding: 0 70px 0 0;
}
.orderby span:nth-child(n+2) {
  position: absolute;
  right: 10px;
}
.orderby img {
  border: 1px solid #d2232a;
  margin: 0 3px;
  padding: 2px;
  width: 10px;
}
.expand_orderby {
  position: absolute;
  right: 0px;
  background: #ffffff;
  display: none;
  z-index: 1000;
  padding: 5px 10px;
  text-align: right;
}

.BELOW_MENU{
  z-index: 100;
  background: white;
  position: absolute;
  font-size: small;
  top: 100px;
  width: 100%;
  height: 15px;
  overflow: hidden;
  padding: 6px 0 0 10px;
}
/*EXPLORE*/
.EXPLORE {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 38px;
  z-index: -3;
}

//treemap
.node {
  display: block;
  box-sizing: border-box;
  font: 10px sans-serif;
  color: black;
  line-height: $fontSize1;
  overflow: hidden !important;
  position: absolute;
  text-indent: 2px;
  text-transform: capitalize;
}

.minimap {
  border: 5px solid white;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.credit {
  color: $cred;
  position: absolute;
  bottom: 20px;
  font-weight: bold;
  right: 0;
  padding: 2px 5px;
}
.return {
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 2px 5px;
}

/* WORKS PAGE*/
.WORK {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 35px;
  margin: auto;
}

/*HACKING*/


.work {
  max-width: 100%;
  max-height: 100%;
}

/*HACKING*/
.bubble_menu {
  overflow: visible;
  width: 300px;
  height: 300px;
  background: transparent;
  * {
    .menu_piecep, .menu_piecep * {
    }
    .menu_pieces, .menu_pieces * {
    }
    .menu_piecet, .menu_piecet * {
    }
    .menu_piecea, .menu_piecea * {
    }
  }

   .works-info{
    border-collapse: collapse;
    border-spacing: 0;
    width: 300px;
    height: 300px;
  }
  
  .works-info  tbody {
      vertical-align: top;
    }

    .works-info tr{
      position: absolute;
    }

    .works-info td{
      position: absolute;
    }
}   

.bubble_menu .menu_piecep{
  width: 25px;
  position: absolute;
  margin: 0 10px;
  top: 30px;
  border: 1px solid #d2232a;
  padding: 25px 0 0 0;
  overflow: hidden;
}

.bubble_menu .menu_pieces{
  width: 25px;
  position: absolute;
  margin: 0 10px;
  top: 70px;
  border: 1px solid #d2232a;
  padding: 25px 0 0 0;
  overflow: hidden;
}

.bubble_menu .menu_piecet{
  width: 25px;
  position: absolute;
  margin: 0 10px;
  top: 110px;
  border: 1px solid #d2232a;
  padding: 25px 0 0 0;
  overflow: hidden;
}

.bubble_menu .menu_piecea{
  width: 25px;
  position: absolute;
  margin: 0 10px;
  top: 150px;
  border: 1px solid #d2232a;
  padding: 25px 0 0 0;
  overflow: hidden;
}

.bubble_menu .button{
  border: 0;
  position: absolute;
  top: 0;
  width: 100%;
  @include rounded-corners(0px);
}


#annoindex {
  border: 0;
  position: absolute;
  top: 30;
  width: 100%;
  @include rounded-corners(0px);
}

.bubble_menu .button img{
  position: absolute;
  right: 10px;
  top: 8px;
  width: 13px;
}

.bubble_menu .button img:nth-child(n+2) {
  display: none;
}
.bubble_menu .bub_dis, .bubble_menu .bub_shr {
  width: 100%; 
}
.bubble_menu .bub_dis .menu_piecep{
  width: auto;
}
.bubble_menu .bub_shr .menu_piecep{
  width: 50%;
}
.bubble_menu .bub_dis .menu_pieces{
  width: auto;
}
.bubble_menu .bub_shr .menu_pieces{
  width: 50%;
}
.bubble_menu .bub_dis .menu_piecet{
  width: auto;
}
.bubble_menu .bub_shr .menu_piecet{
  width: 50%;
}
.bubble_menu .bub_dis .menu_piecea{
  width: auto;
}
.bubble_menu .bub_shr .menu_piecea{
  width: 50%;
}

.bubble_menu .bub_dis div .button, .bubble_menu .bub_shr div .button{
  width: 100%; 
}
.bubble_menu .nohover .button:hover {
  background: transparent;
  color: #d2232a;
  cursor: default;
}
.bubble_menu .bub_highlight .button {
  background: #d2232a;
  color: #ffffff;
}
.bubble_menu .bub_highlight .button:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

.bubble_menu .bub_highlight .menu_piecep:hover {
  border: 1px solid #000000;
}
.bubble_menu .bub_highlight .menu_pieces:hover {
  border: 1px solid #000000;
}
.bubble_menu .bub_highlight .menu_piecet:hover {
  border: 1px solid #000000;
}
.bubble_menu .bub_highlight .menu_piecea:hover {
  border: 1px solid #000000;
}

.bubble_menu .bub_text {
  border: 0;
  width: 100%;
  text-align: center;
  font-size: 12;
  color: #d2232a;
  font-weight: bold;
}
.bubble_menu .bub_disable .menu_piecep {
  border: 0;
  padding: 0;
}
.bubble_menu .bub_disable .menu_piecep .titlebar {
  border: 0;
  padding: 5px 0 0 0;
}
.bubble_menu .bub_disable .menu_pieces {
  border: 0;
  padding: 0;
}
.bubble_menu .bub_disable .menu_pieces .titlebar {
  border: 0;
  padding: 5px 0 0 0;
}
.bubble_menu .bub_disable .menu_piecet {
  border: 0;
  padding: 0;
}
.bubble_menu .bub_disable .menu_piecet .titlebar {
  border: 0;
  padding: 5px 0 0 0;
}
.bubble_menu .bub_disable .menu_piecea {
  border: 0;
  padding: 0;
}
.bubble_menu .bub_disable .menu_piecea .titlebar {
  border: 0;
  padding: 5px 0 0 0;
}

.expand_pi {
  display: none;
  padding: 10px 25px 10px 35px;
  width: 120px !important;
  height: 100px;
  max-width: none !important;
  right: 50px;
}

.expand_surr {
  display: none;
  padding: 40px 10px 0 10px;
  top: 20px;
  width: 100px !important;
  height: 80px;
  max-width: none !important;
}

.expand_tray {
  display: none;
  padding: 0;
  margin: 110px 0 0 10px;
  border: 1px solid #d2232a;
}

.expand_anno {
  background: white;
  border: 1px solid $cred;
  display: none;
  max-height: 200px;
  overflow: scroll;
  padding: 15px 15px 10px 10px;
  margin: 150px 50px 0 10px;
}

.bubble_menu .surrogates_box .expand_surr img {
  width: 50px;
  float: left;
  height: auto;
  margin: 6px 0 -25px 2px;
  padding: 5px 68px 5px 67px;
  border: 1px solid #d2232a;
  background: white;
  max-height: 100px;
  overflow: scroll;
}


/* UPLOADER */
.uploader_content {
	padding: 20px 0 0 0;
	height: 100%;
	overflow: hidden;
}
.uploader_content .left .holder, .uploader_content .right .holder {
	width: 420px;
}
.uploader_content .expandable {
	width: 100%;
}
.uploader_content .input_box input, .uploader_content .input_box textarea{
	width: 100%;
	font-family: arial;
	font-size: $fontSize1;
}
.uploader_content .input_box textarea{
	height: 200px;
}
.uploader_content .uploadjson {
	float: right;
  margin-bottom: 70px;
	font-weight: bold;
	color: #d2232a;
  border-style: solid;
  border-width:2px;
  padding: 0 7px 0 7px;
}

.uploader_content .input_box,.uploader_content .json_holder{
	margin: 5px 5px 20px 0;
}
.uploader_content .json_holder{
	max-height: 640px;
	overflow: auto;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.uploader_content .field {
	border: 1px solid #ccc; 
	padding: 3px;
	margin: 5px 0 10px 0;
	position: relative;
}
.uploader_content .field p {
  width: 80%;
}

.submit {
	top: 75px;
	right: 0;
	padding: 5px 10px;
	width: 200px;
	background: #d2232a;
	color: #fff;
	margin: 0 10px 0 880px;
	z-index: 100;
}

#parsed {
 dl, dt, dd {
    margin-left:20px;
  }
  dd {
    color: #D2232A;
    cursor: crosshair;
  }
dt:hover {
  text-decoration: underline;
  cursor: pointer;
  }
}


.reference .bord, .reference #subtitle{
  padding: 0 10px; 
}

/*trays */

.visualization_preview, .visualization_component {
  position: relative;
  display: inline-block;
  float: left;
  display: none;
  padding: 5px;
  width: 75px;
  height: 75px;
  background: gray;
  margin:2px;
  font-size: 6pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
   h3{
     position: absolute;
     width: 100%;
     background: black;
     bottom: 0;
     color: white;
     height: 1em;
     margin-left: -5px;
     font-size: 1em;
     float: left;
    }
}

.switch {
	text-transform: none;
	padding: 4px 0 0 10px;
}

/* COLLECTIONS HOVER */

.collection_options {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('transbg2.png');
	display: none;
}

.object_id {
	z-index: 10!important;
}
.stack1,.stack2 {
	position: absolute;
}

.stack3{
  position: relative;
	width: 192px;
	height:192px;
	top: 0;
	left: 0;
	z-index: 1;
  background-image: url('collection_w.png');
  background-repeat: no-repeat;
  background-position: center center;
	background-size: cover;
	&.item_lrg {
	  width: 412px;
	  height: 412px;
	}
}

.act_button {
  display: none;
  width: 100%;
  cursor: pointer;
  border: 2px solid #E60000;
  color: #E60000;
}
.abo_button {
  display: none;
  width: 100%;
  cursor: pointer;
  border: 2px solid #E60000;
  color: #E60000;
}

.stack3:hover {
  position: absolute;
  opacity: 1;
  background-image: url('collection_r.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.stack2{
	width: 191px;
	height:191px;
	top: 3px;
	left: 3px;
	z-index: -2;
	border: 1px solid #888;
	background: #fff;
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: cover;
	&.item_lrg {
	  width: 411px;
	  height: 411px;
	}
}
.stack1{
	width: 191px;
	height:191px;	
	top: 7px;
	left: 7px;
	z-index: -3;
	border: 1px solid #888;
	background: #fff;
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: cover;
	&.item_lrg {
	  width: 411px;
	  height: 411px;
	}
}

/* Replace global.js.coffe */
.about_content .left {
  width: 200px;
}

.about_content .expandable {
  width: 70%;
}


.about_content .right {
  width: 33%;
}

.GLOBAL_MENU .expandable .tools {
  display: table;
}

.GLOBAL_MENU .expandable .tools .toggle_tools {
  display: table-cell;
  width: 23%;
  padding: 0px 0px 0px 1px;
}

.GLOBAL_MENU .expandable .tools .menu_wrapper {
  display: table-row;
  position: absolute;
  width: 100%;

  a {
    font-size: $fontSize2;
  }
}

.GLOBAL_HOLDER {
  min-height: 100%;
}

.FOOTER {
  position: absolute;
  bottom: 0px;
}

.INFO_BAR .expandable .hintbar_desc span {
  font-size: $fontSize2;
}

.toggle_user:hover .dropdown_menu {
  display: block;
  visibility: visible;
  background: $white;
  opacity: 1;
  transition-delay: 0s;
}

.toggle_explore:hover .dropdown_menu {
  visibility: visible;
  background: $white;
  opacity: 1;
  transition-delay: 0s;
}

.toggle_curarium:hover .dropdown_menu {
  visibility: visible;
  background: $white;
  opacity: 1;
  transition-delay: 0s;
}

.GLOBAL_MENU .menu_wrapper {
  padding: 0px;
}

.GLOBAL_MENU {
  padding: 0px;
  height: 80px;
}

.toggle_tools a {
  color: black;
}

.toggle_tools a:hover {
  color: #D2233A;
}

.toggle_tools .red {
  display: none;
}

.toggle_tools a:hover img.red {
  display: block;
}

.toggle_tools a:hover img.black {
  display: none;
}

.stalking_menu a {
  color: #D2232A;
  display: block;
  margin: .5em 0;
  text-decoration: none;
}

.cont_vocab span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #d2232a
}

.checkbox_hack {
  display: none;
}

#up {
  display: none;
}

.expand_orderby {
  top: 35px;
}

#orderby_cb:checked ~ .expand_orderby {
  display: block;
}

.bubble_menu .menu_piecep .button {
  background: #ffffff url('icon_parsed.png') no-repeat center center;
  color: transparent;
}

.bubble_menu .menu_piecep .button:hover {
  background: #d2222a url('icon_parsedw.png') no-repeat center center;
  color: transparent;
}

.bubble_menu .menu_piecep {
  display: block;
}
.bubble_menu .menu_pieces .button {
  background: #ffffff url('icon_surr.png') no-repeat center center;
  color: transparent;
}

.bubble_menu .menu_pieces .button:hover {
  background: #d2222a url('icon_surrw.png') no-repeat center center;
  color: transparent;
}

.bubble_menu .menu_pieces {
  display: block;
}
.bubble_menu .menu_piecet .button {
  background: #ffffff url('icon_tray.png') no-repeat center center;
  color: transparent;
}

.bubble_menu .menu_piecet .button:hover {
  background: #d2222a url('icon_trayw.png') no-repeat center center;
  color: transparent;
}

.bubble_menu .menu_piecet {
  display: block;
}
.bubble_menu .menu_piecea .button {
  background: #ffffff url('icon_anno.png') no-repeat center center;
  color: transparent;
}

.bubble_menu .menu_piecea .button:hover {
  background: #d2222a url('icon_annow.png') no-repeat center center;
  color: transparent;
}

.bubble_menu .menu_piecea {
  display: block;
}

.bubble_menu .checkbox_hack:checked ~ .expand_pi {
  display: block;
  width: 135px !important;
  margin: 7px 0 0 52px;
  height: 100px;
  overflow: scroll;
  border: 1px solid #d2232a;
  background: white;
}

.bubble_menu .checkbox_hack:checked ~ .expand_surr {
  display: block;
  top: 50px;
  height: auto;
  margin: 0 0 0 40px;
}

.bubble_menu .checkbox_hack:checked ~ .expand_tray {
  display: block;
  background: white;
  overflow: auto;
  width: 185px;
  margin: 84px 0 0 52px;
}

.bubble_menu .checkbox_hack:checked ~ .expand_anno {
  display: block;
  width: 160px;
  margin: 121px 0 0 52px;
}
