.home.index {
  .home-gif {
    width: 100%;
  }

  .intro-blurb {
    width: 80%;
  }

  .home-login {
    .persona-button {
      vertical-align: middle;
    }

    .join {
      display: inline-block;
      font-style: italic;
      margin-left: 2em;
    }
  }

  .beta-popup {
    background: $white;
    border: solid 1px $cred;
    color: $cred;
    display: none;
    font-size: $font-size-base;
    margin: 0 auto;
    max-width: 40%;
    padding: 4em;
    position: relative;

    h1 {
      font-size: $font-size-base;
      font-weight: normal;
      text-transform: uppercase;
    }

    p {
      margin: 10px 0;
    }

    a, a:visited {
      color: $cgray4;
    }

    .close {
      background: $white;
      border: solid 1px $cred;
      color: $cred;
      display: block;
      font-size: $font-size-small;
      margin: 20px auto 0;
      padding: 5px 20px;

      &:hover {
        background: $cred;
        color: $white;
      }
    }
  } 
}


