@import "colors";

.mini-icon {
  white-space: nowrap;

  &.mini-icon-no-title {
    margin: 0;
  }
}
  
.mini-icon-title {
  display: inline-block;
  margin: 0 .3em;
  vertical-align: top;
}

.mini-icon-icon {
  background-image: url('icons.png');
  display: inline-block;
  height: 16px;
  margin-top: .15em;
  width: 16px;
}

.mini-icon {
  .mini-icon-logo {
    background-position: -0px (-0px + 96px);
  }

  .mini-icon-collection, .mini-icon-collections {
    background-position: -16px (-0px + 96px);
  }

  .mini-icon-spotlight, .mini-icon-spotlights {
    background-position: -32px (-0px + 96px);
  }

  .mini-icon-explore {
    background-position: -48px (-0px + 96px);
  }

  .mini-icon-user {
    background-position: -64px (-0px + 96px);
  }

  .mini-icon-circle, .mini-icon-circles {
    background-position: -80px (-0px + 96px);
  }

  .mini-icon-twitter {
    background-position: -0px (-16px + 96px);
  }

  .mini-icon-record {
    background-position: -16px (-16px + 96px);
  }

  .mini-icon-surrogate {
    background-position: -32px (-16px + 96px);
  }

  .mini-icon-tray, .mini-icon-trays {
    background-position: -48px (-16px + 96px);
  }

  .mini-icon-addtotray {
    background-position: -64px (-16px + 96px);
  }

  .mini-icon-about {
    background-position: -80px (-16px + 96px);
  }

  .mini-icon-announce {
    background-position: -0px (-32px + 96px);
  }

  .mini-icon-annotate {
    background-position: -16px (-32px + 96px);
  }

  .mini-icon-search {
    background-position: -32px (-32px + 96px);
  }

  .mini-icon-parsed {
    background-position: -48px (-32px + 96px);
  }

  .mini-icon-follow {
    background-position: -64px (-32px + 96px);
  }

  .mini-icon-clock {
    background-position: -80px (-32px + 96px);
  }

  .mini-icon-text {
    background-position: -0px (-48px + 96px);
  }

  .mini-icon-close {
    background-position: -16px (-48px + 96px);
  }

  .mini-icon-zoomin {
    background-position: -32px (-48px + 96px);
  }

  .mini-icon-zoomout {
    background-position: -48px (-48px + 96px);
  }

  .mini-icon-hclose {
    background-position: -64px (-48px + 96px);
  }

  .mini-icon-vopen {
    background-position: -80px (-48px + 96px);
  }

  .mini-icon-connected {
    background-position: -0px (-64px + 96px);
  }

  .mini-icon-disconnect {
    background-position: -16px (-64px + 96px);
  }

  .mini-icon-connect {
    background-position: -32px (-64px + 96px);
  }

  .mini-icon-discussions,.mini-icon-message {
    background-position: -48px (-64px + 96px);
  }

  .mini-icon-rows {
    background-position: -64px (-64px + 96px);
  }

  .mini-icon-grid {
    background-position: -80px (-64px + 96px);
  }

  .mini-icon-admin {
    background-position: -0px (-80px + 96px);
  }

  .mini-icon-hopen {
    background-position: -64px (-80px + 96px);
  }

  .mini-icon-vclose {
    background-position: -80px (-80px + 96px);
  }
}

a:hover, button:hover {
  .mini-icon-title {
    color: $cred;
  }

  .mini-icon {
    .mini-icon-logo {
      background-position: -0px (-0px + 0px);
    }

    .mini-icon-collection, .mini-icon-collections {
      background-position: -16px (-0px + 0px);
    }

    .mini-icon-spotlight, .mini-icon-spotlights {
      background-position: -32px (-0px + 0px);
    }

    .mini-icon-explore {
      background-position: -48px (-0px + 0px);
    }

    .mini-icon-user {
      background-position: -64px (-0px + 0px);
    }

    .mini-icon-circle, .mini-icon-circles {
      background-position: -80px (-0px + 0px);
    }

    .mini-icon-twitter {
      background-position: -0px (-16px + 0px);
    }

    .mini-icon-record {
      background-position: -16px (-16px + 0px);
    }

    .mini-icon-surrogate {
      background-position: -32px (-16px + 0px);
    }

    .mini-icon-tray, .mini-icon-trays {
      background-position: -48px (-16px + 0px);
    }

    .mini-icon-addtotray {
      background-position: -64px (-16px + 0px);
    }

    .mini-icon-about {
      background-position: -80px (-16px + 0px);
    }

    .mini-icon-announce {
      background-position: -0px (-32px + 0px);
    }

    .mini-icon-annotate {
      background-position: -16px (-32px + 0px);
    }

    .mini-icon-search {
      background-position: -32px (-32px + 0px);
    }

    .mini-icon-parsed {
      background-position: -48px (-32px + 0px);
    }

    .mini-icon-follow {
      background-position: -64px (-32px + 0px);
    }

    .mini-icon-clock {
      background-position: -80px (-32px + 0px);
    }

    .mini-icon-text {
      background-position: -0px (-48px + 0px);
    }

    .mini-icon-close {
      background-position: -16px (-48px + 0px);
    }

    .mini-icon-zoomin {
      background-position: -32px (-48px + 0px);
    }

    .mini-icon-zoomout {
      background-position: -48px (-48px + 0px);
    }

    .mini-icon-hclose {
      background-position: -64px (-48px + 0px);
    }

    .mini-icon-vopen {
      background-position: -80px (-48px + 0px);
    }

    .mini-icon-connected {
      background-position: -0px (-64px + 0px);
    }

    .mini-icon-disconnect {
      background-position: -16px (-64px + 0px);
    }

    .mini-icon-connect {
      background-position: -32px (-64px + 0px);
    }

    .mini-icon-discussions,.mini-icon-message {
      background-position: -48px (-64px + 0px);
    }

    .mini-icon-rows {
      background-position: -64px (-64px + 0px);
    }

    .mini-icon-grid {
      background-position: -80px (-64px + 0px);
    }

    .mini-icon-admin {
      background-position: -0px (-80px + 0px);
    }

    .mini-icon-hopen {
      background-position: -64px (-80px + 0px);
    }

    .mini-icon-vclose {
      background-position: -80px (-80px + 0px);
    }
  }
}

