@import "colors";

.mini-icon {
  height: 16px;
  margin: 0 1em;
}
  
.mini-icon-title {
  color: $black;
  line-height: 16px;
  margin-right: .5em;
  vertical-align: top;
  white-space: nowrap;
}

.mini-icon-icon {
  background-image: url('icons.png');
  display: inline-block;
  height: 16px;
  width: 16px;
}

.mini-icon-work {
  background-position: -16px (-16px + 80px);
}

.mini-icon-close {
  background-position: -16px (-48px + 80px);
}

a:hover {
  .mini-icon-title {
    color: $cred;
  }

  .mini-icon {
    .mini-icon-work {
      background-position: -16px (-16px + 0px);
    }

    .mini-icon-close {
      background-position: -16px (-48px + 0px);
    }
  }
}

