.help .instructions{
	color: #D2232A;
	padding: 1em;
	font-size: $font-size-large;
}

.importhelp .instructions {
	color: #D2232A;
	padding: 1em;
	font-size: $font-size-large;
}

.pages.terms {
  .FOOTER {
    bottom: auto;
    position: static;
  }
}

.inst_list {
	width: 1100;
	height: 280;
}
.imp_list {
	width: 1100;
	height: 280;
}

.institem {
    border-collapse: collapse;
    border-spacing: 0;
    height: 350px;
    }

.institem tbody {
      vertical-align: top;
    }

.institem tr{
      padding: 10px;
      margin: 0 0 50px 0;
      position: absolute;
    }

.institem .image_side {
      padding: 20px;
      color: #D2232A;
      width: 500px;
      height: 281px;
    } 
    
.institem .text_side {
      padding: 25px 5px 20px 5px;
      color: #D2232A;
      font-size:$font-size-base 
    }    


div#image-1 { left: 0; }
div#image-2 { left: 290px; }
div#image-3 { left: 580px; }

div[id^=image]:target {
    width: 450px;
    height: 300px;
    z-index: 5000;
    top: 50px;
    left: 200px;
}
div[id^=image]:target .close {
    display: block;
}
 
div[id^=image]:target .expand {
    display: none;
}
 
div#image-1:target, div#image-2:target, div#image-3:target { left: 200px; }


