// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

div#main-canvas {
  display: inline-block;
  width:100%;
  height:100%;
  float:left;
  position:relative;
}

div#record-data{
  background-image: url('black_50_percent.png');
  display: block;
  width: 20%;
  height: calc(100% - 25px);
  position: absolute;
  overflow: auto;
  img {
    max-height: 80px;
    max-width: 80px;
  }
  nav {
    position: relative;
    height: 100px;
    padding: 10px;
    
  }
  section {
    position: relative;
    height: calc(100% - 100px);
    overflow: auto;
  }
}

div#annotations{
  padding: 1em;
  background-image: url('black_50_percent.png');
  display: block;
  right: 0;
  width: 20%;
  height: calc(100% - 25px);
  position: absolute;
  overflow: auto;
  input, textarea {
    width: 100%;
    margin: auto;
    margin-top: 0.5em;
    font-size: 10pt;
    resize: none;
  }
}

.printed_object {
  list-style: none;
  
  //background-image: url('black_50_percent.png');
  color: white;
  width: 98%;
  margin: 1%;
  .printed_object {
    padding-left: 1em;
    margin: 0px;
  }
  .key {
    padding: 2px;
    cursor: pointer;
    @include rounded-corners(3px);
    &:hover{
      color: white;
      background: red;
    }
  }
  ul {
    .key {
      cursor: text;
      &:hover {
        background: transparent;
      }
    }
  }
  .value {
    text-decoration: underline;
    display: none;
  }
}

#parsed_record {
  @include rounded-corners(3px);
  padding: 0.5em;
  position: relative;
  max-height: 30%;
  overflow: auto;
  border: 1px solid white;
}

#original_record {
  @include rounded-corners(3px);
  padding: 0.5em;
  border: 1px solid white;
  position: relative;
  max-height: 70%;
  overflow: auto;
}

