// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin section-subsection($width) {
  height: calc(100% - 25px);
  width: $width;
  float: left;
  display: inline-block;
  position: relative;
  padding: 1em;
}

h2#section_title {
  height: 25px;
  width:  100%;
  float: left;
  background: black;
  color: white;
}

section#section_resources { 
  @include section-subsection(20%);
  border: 1px solid black;
  }
  
section#section_feed { 
  @include section-subsection(60%);
  overflow:auto;
  border: 1px solid black;
  }
  
section#section_users { 
  @include section-subsection(20%);
  border: 1px solid black;
  }
  

p.message_author, p.comment_author {
  font-size: 7pt;
}
div.section_message_wrapper, div#new_message{
  width: 80%;
  margin: auto;
}

div#new_message{
  border: 1px solid black;
  margin-bottom: 1em;
  border-radius: 2px;
}

div.section_message, div.section_message_comment{
  font-size: 9pt;
  border: 1px solid black;
  margin-bottom: 1em;
  border-radius: 2px;
  position: relative;
}
 div.section_message_comment{
   margin-left: 2em;
   margin-right: 2em;
 }

a.edit_link {
  font-size: 6pt;
  margin: 1pt;
}

div#new_message {
  input[type=text], textarea {
    display: block;
    margin: 0;
    width: 50%;
  }
}
