@import "colors";

.draftsnail {
  border: 2px solid #d2232a;
  font-weight: bold;
  border-radius: 3px;
  width: 195px;
  height: 195px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 260px;  
  a {
    color: #d2232a;
    text-decoration: none;
  }

  .mini-icon {
    .mini-icon-icon {
      left: 96px;
      position: absolute;
      top: 96px;
    }
  }
}

.draftsnail:hover {
  border: 2px solid #d2232a;
  cursor: pointer;
  a {
    color: $white;
  }
}

