// Place all the styles related to the spotlights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//NEW

#new_spotlight_wrapper {
  float: left;
  width: 50%;
  height: 100%;
  display: inline-block;
}


#user_trays {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
  display: inline-block;
  background: slategray;
}

#spotlight_components {
  background: #996666;
  width: 90%;
  height: 300px;
}
