@import "colors";
@import "fonts";

/* users & sessions */

body.users {
  .expandable {
    width: 80%;
  }

  section h1 {
    font-size: $fontSize2;
  }

  dl {
    overflow: hidden;
    width: 48em;
  }

  dt {
    float: left;
    width: 12em;
  }
  
  dd {
    float: left;
    width: 32em;
  }

  form {
    display: inline-block;
  }

  .signup-info {
    display: inline-block;
    margin-left: 1em;
    max-width: 320px;
    text-transform: none;

    p {
      margin: 1em 0;
    }

    a {
      font-weight: bold;
    }
  }
}

.user-thumbnail {
  border: solid 1px $cred;
  position: relative;

  img {
    height: 75%;
    margin: 12.5%;
    width: 75%;
  }

  .title {
    background-color: $cred;
    color: $white;
    padding: 0 .5em .25em .5em;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    outline: solid 2px $cred;

    .title {
      background-color: $white;
      color: $cred;
      font-weight: bold;
      outline: solid 2px $cred;
    }
  }
}

.login_signup {
  &>div {
    margin: 1em 0;

    &:last-child {
      margin-top: 2em;
    }
  }

  label {
    color: $cred;
    display: block;
    font-weight: bold;
  }

  b, input, textarea {
    display: block;
  }

  .login-button {
    height: 22px;
    width: 170px;
  }
}
