.works {
  &.show {
    .work-canvas {
      position: absolute;
      top: 0;
      right: 0;
      left: 80px;
      bottom: 0;

      background-repeat: no-repeat;
      background-size: contain;
    }

    .col-works-panels .panel-work {
      display: none;
    }
  }

  .show-xhr {
    .work-image {
      img {
        width: 100%;
      }
    }

    .surrogates {
      .thumbnail {
        margin: .5em 0;
      }
    }
  }
}
