.works {
  &.show {
    .work-canvas {
      position: absolute;
      top: 114px;
      right: 0;
      left: 0;
      bottom: 0;

      .geo-label {
        width: 33%;

        background: #fefefe;
        border-radius: .25em;
        padding: 1em;
      }
    }

    .col-works-panels .panel-work {
      display: none;
    }

    #annotation_preview {
      small {
        position: absolute;
        left: 0;

        padding: 32px;
      }
    }
  }

  .show-xhr {
    .work-image {
      img {
        width: 100%;
      }
    }

    .surrogates {
      .thumbnail {
        margin: .5em 0;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

.works {
  &.show {
    .work-canvas {
      position: absolute;
      top: 56px;
      right: 0;
      left: 80px;
      bottom: 50px;
    }
  }
}

}
