<div class="media">
  <div class="media-left">
    <%= link_to image_tag( gravatar_for( activity.creator ), class: 'media-object' ) %>
  </div>
  <div class="media-body">
    <i class="pull-right"><%= activity.created_at.strftime '%b %d' %></i>
    <h4 class="h5 media-heading"><%= activity.creator.name %></h4>
    <%= activity.body %>
  </div>
</div>
