<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <h2 class="h4 page-header">About Privacy</h2>

      <dl>
        <dt>private</dt>
        <dd>
          <ul>
            <li>you explicitly add users to this circle</li>
            <li>users cannot see this circle unless you have added them</li>
          </ul>
        </dd>

        <dt>community</dt>
        <dd>
          <ul>
            <li>signed in users can see this circle</li>
            <li>signed in users can add themselves to this circle</li>
          </ul>
        </dd>

        <dt>public</dt>
        <dd>
          <ul>
            <li>signed in &amp; anonymous users can see this circle</li>
            <li>only signed in users can add themselves to this circle</li>
          </ul>
        </dd>
      </dl>
    </div>

    <div class="col-sm-8">
      <h2 class="h4 page-header">New Circle</h2>

      <%= render 'form' %>
    </div>
  </div>

</div>
