<h1 class="collection-header"><%= @circle.title %></h1>

<dl>
  <dt>Created on</dt>
  <dd><%= @circle.created_at %></dd>
</dl>

<section class="circle-trays">
  <h1 class="collection-header">Trays</h1>

  <%= render partial: 'trays/tray_preview_gallery', object: @circle.trays.limit(2) %>

  <%= link_to raw( '<h2>Tray Manager</h2>' ), circle_trays_path( @circle ) %>
</section>

